Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  simple_stack.current: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, .gitlab-ci.yml

remove space
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-220: set the number of parallel jobs to 0
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Adding in docs
  pingdelegator/Dockerfile
Due: none

Apply a preferredJVM in order to push all tags properly
  pingdelegator/versions.json
Due: none

Apply variable MAX_HEAP_SIZE on restart
  pingcommon/opt/staging/hooks/21-update-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Allow building specific product in pipeline
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Updating pingdelegator to standard ports of 6080/6443 and support for common default cert
  pingdelegator/Dockerfile
  pingdelegator/opt/liveness.sh
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/instance/etc/conf.d/default.conf.subst
  pingdelegator/opt/staging/instance/html/delegator/config.js.subst
  pingdelegator/tests/build.test.yml
Due: none

Re pa cluster
  .gitlab-ci.yml
  integration_tests/pa-cluster.latest.test.yml
  integration_tests/pa-cluster.postman_collection.json
  integration_tests/pdg-pd.latest.test.yml
  pingaccess/Product-staging
  pingaccess/opt/staging/hooks/50-before-post-start.sh
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Fix the container warning message:
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Documentation update
  pingdelegator/Dockerfile
Due: none

GDO-288 Moved pingdata specific code to pingdatacommon
  pingdatacommon/opt/staging/hooks/21-update-server-profile.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

Revert to alpine:3.11
  pingcommon/Dockerfile
  pingtoolkit/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-289
  apache-jmeter/Dockerfile
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingdownloader/Dockerfile
  pingfederate/Dockerfile
  pingjvm/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, simple_stack.current

revert the alpine version as this pulls differently than other images
  pingjvm/Dockerfile
Due: none

kick to build pingdelegator
  pingdelegator/Dockerfile
Due: none

gdo-204 - only expand variables that are actually set
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

gdo-294 - envsubst - only set variables that are defined
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Add developer build
  ci_scripts/build_product.sh
  pingaccess/Product-staging
  pingaccess/tmp/.gitignore
  pingcentral/Product-staging
  pingcentral/tmp/.gitignore
  pingdataconsole/Product-staging
  pingdataconsole/tmp/.gitignore
  pingdatagovernance/Product-staging
  pingdatagovernance/tmp/.gitignore
  pingdatagovernancepap/Product-staging
  pingdatagovernancepap/tmp/.gitignore
  pingdatasync/Product-staging
  pingdatasync/tmp/.gitignore
  pingdelegator/Product-staging
  pingdelegator/tmp/.gitignore
  pingdirectory/Product-staging
  pingdirectory/tmp/.gitignore
  pingdirectoryproxy/Product-staging
  pingdirectoryproxy/tmp/.gitignore
  pingdownloader/get-bits.sh
  pingfederate/Product-staging
  pingfederate/tmp/.gitignore
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-290 build steps detect errors/exits
  pingcommon/opt/build.sh
  pingdatagovernancepap/Product-staging
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Fix some typos and update get-bits.sh usage
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingdatacommon/opt/staging/hooks/185-apply-tools-properties.sh
  pingdownloader/get-bits.sh
Due: d.pingdownloader, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

gdo-289 - move to alpine 3.12
  apache-jmeter/Dockerfile
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingcommon/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingdownloader/Dockerfile
  pingfederate/Dockerfile
  pingjvm/versions.json
  pingtoolkit/Dockerfile
  pingtoolkit/opt/build.sh.pre
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

gdo-289 - move to alpine 3.12
  pingjvm/versions.json
Due: none

closes GDO-303 update ldap-sdk to verion 5.1.0
  ldap-sdk-tools/versions.json
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools

closes GDO-305 produce pingaccess 6.0.3 image
  pingaccess/versions.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

closes GDO-304 update PingFederate to 10.0.3
  integration_tests/pa-pf-pd.latest.test.yml
  pingfederate/versions.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, simple_stack.current

update several products to latest release
  integration_tests/pa-pf-pd.latest.test.yml
  ldap-sdk-tools/versions.json
  pingaccess/versions.json
  pingfederate/versions.json
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, simple_stack.current

gdo-307 - honor SERVER_PROFILE_UPDATE
  pingcommon/opt/staging/hooks/07-apply-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Gdo 307 - General Cleanup Docs/Comments and Functions
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
  pingcommon/opt/staging/hooks/07-apply-server-profile.sh
  pingcommon/opt/staging/hooks/09-build-motd.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GD0-312 add java utilities
  pingjvm/build-jvm.sh
Due: none

remove testing pingdelegator when only jvm changes
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-306 friendlier tags for nightly builds
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Update new integration tests with BUILD_PRODUCT conditions
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-325: Rename base dockerfile ACCEPT_EULA - Rename default variable to PING_IDENTITY_ACCEPT_EULA
  pingbase/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Updated sync liveness check to use HTTP
  pingdatasync/opt/liveness.sh
  pingdatasync/tests/build.test.yml
Due: b.pingdirectory, t.pingdatasync, d.pingdatasync

Fixed Dev Builds
  pingdownloader/get-bits.sh
  pingfederate/Product-staging
Due: d.pingdownloader, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, b.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, simple_stack.current

Allow Docker users to define policy database creds
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
Due: b.pingdatagovernancepap, d.pingdatagovernancepap

June 2020 release
  .gitlab-ci.yml
  apache-jmeter/versions.json
  ci_scripts/run_smoke.sh
  integration_tests/pa-cluster.latest.test.yml
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdg-pd.postman_collection.json
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
  pingaccess/versions.json
  pingdataconsole/versions.json
  pingdatagovernance/tests/build-8.0.0.1.test.yml
  pingdatagovernance/versions.json
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdelegator/versions.json
  pingdirectory/tests/_s2-custom-non-root.test.yml
  pingdirectory/versions.json
  pingdirectory/versions.json.old
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
  pingfederate/versions.json.old
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

pa-cluster test for new 6.1 features
  .gitlab-ci.yml
  integration_tests/pa-cluster.latest.test.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

augment the level of integration testing for PingDataGovernance 8.1
  .gitlab-ci.yml
  integration_tests/pdg-pd.postman_collection.json
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-331 - add warning for old PA data.json
  pingaccess/opt/staging/hooks/85-import-configuration.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current
