Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

build_pingfoundation:
  stage: build_foundation
  script:
  - ci_scripts/build_foundation.sh --no-cache
  tags:
  - pingcommon

deploy_pingfoundation:
  stage: deploy
  script:
  - ci_scripts/deploy_foundation.sh

build_pingdownloader:
  stage: build_foundation
  script:
  - DOCKER_BUILDKIT=1 docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker tag "pingidentity/pingdownloader" "gcr.io/ping-identity/pingdownloader:edge"
  - docker push "gcr.io/ping-identity/pingdownloader:edge"
  ...

deploy_pingdownloader:
  stage: deploy
  script:
  - docker push pingidentity/pingdownloader

build_apache-jmeter:
  stage: build
  script:
  - ci_scripts/build_and_tag.sh -p apache-jmeter

deploy_apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh apache-jmeter
  - ci_scripts/deploy_to_gcr.sh apache-jmeter

build_ldap-sdk-tools:
  stage: build
  script:
  - ci_scripts/build_and_tag.sh -p ldap-sdk-tools

test_ldap-sdk-tools:
  stage: smoke_test
  script:
  - ci_scripts/run_tests.sh -p ldap-sdk-tools -s alpine

deploy_ldap-sdk-tools:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh ldap-sdk-tools
  - ci_scripts/deploy_to_gcr.sh ldap-sdk-tools

build_pingaccess:
  stage: build
  script:
  - ci_scripts/build_product.sh -p pingaccess
  tags:
  - pingcommon

test_pingaccess:
  stage: smoke_test
  script:
  - ci_scripts/run_tests.sh -p pingaccess
  tags:
  - pingcommon

deploy_pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh pingaccess
  - ci_scripts/deploy_to_gcr.sh pingaccess
  tags:
  - pingcommon

build_pingcentral:
  stage: build
  script:
  - ci_scripts/build_product.sh --product pingcentral --shim centos --default-shim centos
  tags:
  - pingcommon

test_pingcentral:
  stage: smoke_test
  script:
  - ci_scripts/run_tests.sh -p pingcentral
  tags:
  - pingcommon

deploy_pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh pingcentral
  - ci_scripts/deploy_to_gcr.sh pingcentral
  tags:
  - pingcommon

build_pingdirectory:
  stage: build
  script:
  - ci_scripts/build_product.sh -p pingdirectory
  tags:
  - pingdatacommon

test_pingdirectory:
  stage: smoke_test
  script:
  - ci_scripts/run_tests.sh -p pingdirectory
  tags:
  - pingdatacommon

deploy_pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh pingdirectory
  - ci_scripts/deploy_to_gcr.sh pingdirectory
  tags:
  - pingdatacommon

build_pingdataconsole:
  stage: build
  script:
  - ci_scripts/build_and_tag.sh -p pingdataconsole

deploy_pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_to_docker_hub.sh pingdataconsole
  - ci_scripts/deploy_to_gcr.sh pingdataconsole

build_pingdatasync:
  stage: build
  script:
  - ci_scripts/build_product.sh -p pingdatasync
  tags:
  - pingdatacommon

test_pingdatasync:
  stage: smoke_test
  script:
  - ci_scripts/run_tests.sh -p pingdatasync
  tags:
  - pingdatacommon

simple_stack:
  stage: integration_test
  script:
  - integration_tests/run.sh

remove vestigial file from a different era
  pingfederate/run.sh
Due: build_pingfederate, test_pingfederate, deploy_pingfederate, simple_stack

fix deploy logic to pull and rm
  ci_scripts/deploy_product_to_registry.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

make updates to adapt deploy docs to new build layout
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/get_commit_vars.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

pa password management features
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
  pingaccess/Dockerfile
  pingaccess/opt/liveness.sh
  pingaccess/opt/staging/hooks/50-before-post-start.sh
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingaccess/opt/staging/hooks/81-after-start-process.sh
  pingaccess/opt/staging/hooks/83-change-password.sh
  pingaccess/opt/staging/hooks/83-create-initial-password.sh
  pingaccess/opt/staging/hooks/85-import-configuration.sh
  pingaccess/tests/1.test.ymlb
  pingaccess/tests/2.test.ymlb
  pingaccess/tests/3.test.ymlb
  pingaccess/tests/4.test.ymlb
  pingaccess/tests/5.test.ymlb
  pingaccess/tests/6.test.ymlb
  pingaccess/tests/7.test.ymlb
  pingaccess/tests/8.test.ymlb
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

revert to working deploy
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

add environment variable for private service names
  pingbase/Dockerfile
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Add descriptions for all the new environment variables
  pingbase/Dockerfile
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

closes GDO-89
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

update the base dockerfile to add environment variables
  pingbase/Dockerfile
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

add aws cli to pingtoolkit
  pingtoolkit/opt/build.sh.pre
Due: build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit

Add AWS CLI to pingtoolkit
  pingtoolkit/opt/build.sh.pre
Due: build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit

reformat for deploy_docs.sh
  .gitlab-ci.yml
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingfederate/Dockerfile
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

update latest versions for ldap sdk and access
  pingdownloader/gte-bits-repo.json
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingcentral, test_pingcentral, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, build_pingfederate, test_pingfederate, build_pingtoolkit, test_pingtoolkit

update versions for ldap sdk image we build
  ldap-sdk-tools/versions.json
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools

closes GDO-93
  pingcommon/opt/bootstrap.sh
  pingcommon/opt/build.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

handle devops-creds as Docker secret
  ci_scripts/run_smoke.sh
  pingaccess/Dockerfile
  pingaccess/tests/10.test.yamlb
  pingaccess/tests/9.test.yamlb
  pingbase/Dockerfile
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

deliver kubectl and kustomize in pingtoolkit to edge
  ci_scripts/serial_build.sh
  pingtoolkit/opt/build.sh.pre
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

fix for bug found during profile tests
  pingaccess/opt/liveness.sh
  pingaccess/opt/staging/hooks/85-import-configuration.sh
  pingaccess/tests/7.test.ymlb
  pingaccess/tests/8.test.ymlb
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Fix console
  pingdataconsole/Product-staging
Due: build_pingdataconsole, deploy_pingdataconsole

tiny change to keep the apk package manager functional
  pingcommon/opt/build.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Pa 6.0.1 profile
  pingaccess/versions.json
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

GDO-100 - Adding retries to curl for eval license
  integration_tests/simple_stack.current.test.yml
  pingaccess/versions.json
  pingcommon/opt/staging/hooks/17-check-license.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Resolve GDO-89
  pingcentral/opt/staging/instance/conf/application.properties.subst.default
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingdataconsole/opt/staging/instance/conf/server.xml.subst.default
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
  pingfederate/opt/staging/instance/server/default/data/sourceid-saml2-local-metadata.xml.subst.default
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

GDO-100 - Cleanup of url
  pingdownloader/get-bits.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingcentral, test_pingcentral, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, build_pingfederate, test_pingfederate, build_pingtoolkit, test_pingtoolkit

fixes GDO-102
  pingdownloader/gte-bits-repo.json
  pingfederate/Product-staging
  pingfederate/versions.json
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingcentral, test_pingcentral, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, simple_stack

Push Beta builds for PingFederate and PingAccess
  pingaccess/versions.json
  pingfederate/versions.json
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingfederate, test_pingfederate, deploy_pingfederate, simple_stack

GDO-95 - Updating repositoryURL
  pingdownloader/get-bits.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingcentral, test_pingcentral, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, build_pingfederate, test_pingfederate, build_pingtoolkit, test_pingtoolkit

Arno dev
  pingfederate/Product-staging
Due: build_pingfederate, test_pingfederate, deploy_pingfederate, simple_stack

Build fix build pingfederate
  .gitlab-ci.yml
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

GDO-106 - Security Checks
  pingbase/Dockerfile
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Fix for 10.1 Beta
  pingbase/Dockerfile
  pingdownloader/get-bits.sh
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
  pingfederate/opt/staging/instance/server/default/data/sourceid-saml2-local-metadata.xml.subst.default
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Publish first PingDirectoryProxy image
  .gitlab-ci.yml
  ci_scripts/run_smoke.sh
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pa-pf-pd.postman_collection.json
  integration_tests/pds-pd.latest.test.sh
  integration_tests/pds-pd.latest.test.yml
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/Product-staging
  pingdirectoryproxy/opt/staging/hooks/03-build-run-plan.sh
  pingdirectoryproxy/opt/staging/hooks/183-run-setup.sh
  pingdirectoryproxy/opt/staging/hooks/20-restart-sequence.sh
  pingdirectoryproxy/opt/staging/hooks/80-post-start.sh
  pingdirectoryproxy/opt/staging/hooks/81-generate-topology-json.sh
  pingdirectoryproxy/opt/staging/hooks/81-repair-topology.sh
  pingdirectoryproxy/tests/build.test.yml
  pingdirectoryproxy/versions.json
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

close GDO-113
  .gitlab-ci.yml
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  pingdatagovernance/Product-staging
  pingdatagovernancepap/Product-staging
  pingdatasync/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
  pingdownloader/Dockerfile
  pingdownloader/get-bits.sh
  pingdownloader/get-snapshots.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Snapshot for PingFederate and PingCentral
  ci_scripts/build_product.sh
  pingdownloader/get-snapshots.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

phase 2 PF + PC snapshot changes
  integration_tests/pa-pf-pd.latest.test.yml
  pingcentral/Product-staging
  pingfederate/Product-staging
Due: build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingfederate, test_pingfederate, deploy_pingfederate, simple_stack

Phase 3 PingFederate PingCentral snapshot merge
  .gitlab-ci.yml
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

GDO-121 PingAccess snapshot builds
  .gitlab-ci.yml
  ci_scripts/build_downloader.sh
  pingaccess/Product-staging
  pingdownloader/get-snapshots.sh
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

include pingfederate pingcentral and pingaccess snapshot in nightly CI
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  pingaccess/versions.json
Due: build_pingfoundation, deploy_pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingcentral, test_pingcentral, deploy_pingcentral, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, build_pingdatagovernancepap, deploy_pingdatagovernance, deploy_pingdatagovernancepap, build_pingfederate, test_pingfederate, deploy_pingfederate, build_pingtoolkit, test_pingtoolkit, deploy_pingtoolkit, simple_stack

Path conditions:
  build_pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  build_apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  build_pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  test_pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  deploy_pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  simple_stack: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingfederate/**/*, pingdirectory/**/*, ci_scripts/*, .gitlab-ci.yml
