Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingdirectoryproxy, pingfederate

Path conditions:
  pingdownloader: any of: pingdownloader/*
  ldap-sdk-tools: any of: pingdownloader/*, ldap-sdk-tools/*
  pingdataconsole: any of: pingdataconsole/*, pingdownloader/*
  pingaccess: any of: pingaccess/*, pingcommon/*, pingbase/*, pingdownloader/*
  pingdatasync: any of: pingdatasync/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  pingdirectory: any of: pingdirectory/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  pingdirectoryproxy: any of: pingdirectoryproxy/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  pingfederate: any of: pingfederate/*, pingcommon/*, pingbase/*, pingdownloader/*

update readme
  ldap-sdk-tools/README.md
Due: ldap-sdk-tools

add a convenience script to run the build tests locally
  test-local.sh
Due: none

Fix the pingfederate build test that was pulling the wrong image
  pingfederate/build.test.yml
Due: pingfederate

Add a way to have topology hostnames with 0-based indexes
  pingdatacommon/hooks/184-generate-topology-descriptor.sh
Due: none

Adding ability to list multiple products and --summary flag
  test-local.sh
Due: none

work on if readme
  ci_scripts/if_readme_only.sh
Due: none

working if readme
  ci_scripts/if_readme_only.sh
Due: none

fix ifreadme_only
  ci_scripts/if_readme_only.sh
Due: none

fix if readme_only and cleanup
  ci_scripts/if_readme_only.sh
Due: none

Update README.md
  ldap-sdk-tools/README.md
Due: ldap-sdk-tools

Ci
  .gitlab-ci.yml
  pingcommon/Dockerfile
Due: pingaccess, pingdatasync, pingdirectory, pingdirectoryproxy, pingfederate

gitlab test
  ldap-sdk-tools/Dockerfile
  pingaccess/liveness.sh
  pingdirectory/liveness.sh
Due: ldap-sdk-tools, pingaccess, pingdirectory

test gitlab
  pingdirectory/liveness.sh
Due: pingdirectory

add cleanup to gitlab
  .gitlab-ci.yml
  pingdirectory/liveness.sh
Due: pingdirectory

add gitlab cleanup
  .gitlab-ci.yml
Due: none

add cleanup to gitlab
  .gitlab-ci.yml
Due: none

add docker cleanup as script
  .gitlab-ci.yml
  ci_scripts/docker-cleanup.sh
Due: none

add docker cleanup as script
  .gitlab-ci.yml
Due: none

moved the based DN to pingbase
  pingdirectory/Dockerfile
Due: pingdirectory

the commit supports the parametrization of the pingfederate config
  pingbase/Dockerfile
  pingcommon/hooks/15-expand-templates.sh
Due: pingaccess, pingdatasync, pingdirectory, pingdirectoryproxy, pingfederate

update readme
  pingdataconsole/README.md
Due: pingdataconsole

Updating READMEs for DockerHub
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatasync/README.md
  pingdelegator/README.md
  pingdirectory/README.md
  pingdownloader/README.md
Due: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingdirectoryproxy, pingfederate

Updating for DockerHub
  pingfederate/README.md
Due: pingfederate

Fixed link issue
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatasync/README.md
  pingdelegator/README.md
  pingdirectory/README.md
  pingdownloader/README.md
  pingfederate/README.md
Due: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingdirectoryproxy, pingfederate

test push from CI
  .gitlab-ci.yml
  ci_scripts/push_to_github.sh
Due: none

change perms
  ci_scripts/push_to_github.sh
Due: none

test CI
  .gitlab-ci.yml
Due: none

test CI
  ci_scripts/push_to_github.sh
Due: none

add push to GH in CI
  ci_scripts/push_to_github.sh
Due: none

push to GH
  ci_scripts/push_to_github.sh
Due: none

github push
  ci_scripts/push_to_github.sh
Due: none

add push to GitHub
  .gitlab-ci.yml
  ci_scripts/push_to_github.sh
Due: none
