Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

pingfoundation:
  stage: build_foundation
  script:
  - sh ci_scripts/prep_build_foundation.sh
  - docker image build -t pingidentity/pingcommon ./pingcommon
  - docker image build -t pingidentity/pingdatacommon ./pingdatacommon
  ...

pingdownloader:
  stage: build_foundation
  script:
  - docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker-compose -f pingdownloader/build.test.yml up --exit-code-from sut
  - docker push pingidentity/pingdownloader

build_ldap-sdk-tools:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh ldap-sdk-tools

test_ldap-sdk-tools:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh ldap-sdk-tools

deploy_ldap-sdk-tools:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh ldap-sdk-tools
  - sh ci_scripts/deploy_to_gcr.sh ldap-sdk-tools

build_pingaccess:
  stage: build
  script:
  - ci_scripts/build_product.sh pingaccess

test_pingaccess:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingaccess

deploy_pingaccess:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingaccess
  - sh ci_scripts/deploy_to_gcr.sh pingaccess

build_pingdirectory:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdirectory

test_pingdirectory:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdirectory

deploy_pingdirectory:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdirectory
  - sh ci_scripts/deploy_to_gcr.sh pingdirectory

build_pingdataconsole:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh pingdataconsole

deploy_pingdataconsole:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdataconsole
  - sh ci_scripts/deploy_to_gcr.sh pingdataconsole

build_pingdatasync:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatasync

test_pingdatasync:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdatasync

deploy_pingdatasync:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdatasync
  - sh ci_scripts/deploy_to_gcr.sh pingdatasync

build_pingfederate:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingfederate

test_pingfederate:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingfederate

deploy_pingfederate:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingfederate
  - sh ci_scripts/deploy_to_gcr.sh pingfederate

update docker login
  .gitlab-ci.yml
Due: none

minor doc edit
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Remove old hook not used anymore
  pingdirectory/hooks/15-expand-templates.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Add error check and cat of rejects.ldif if available
  pingdirectory/hooks/183-run-setup.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

commenting out test_pingdatagovernance, since we still don't have a eval license from license server.
  .gitlab-ci.yml
Due: none

Updated default versions to download and added pingdatagovernancepap
  pingdownloader/gte-bits-repo.json
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingfederate, test_pingfederate

Adding pingdatagovernancepap license request details
  pingdownloader/get-bits.sh
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingfederate, test_pingfederate

fix the processing of jvm-memory.options
  pingfederate/run.sh
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

apply path to 9.2.3
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Removed tomcat default content and add certificate file instead of generating
  pingdataconsole/Dockerfile
  pingdataconsole/ss.jks
Due: build_pingdataconsole, deploy_pingdataconsole

Update license version number
  pingfederate/Dockerfile
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Testing write access to repo with small change to ignore .idea directory
  .gitignore
Due: none

Add PingAccess 5.3.0
  pingaccess/Dockerfile
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

movving 5.2.3 to edge until server-profile is migrated
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

stop deploying downloader all the time! [skip build]
  .gitlab-ci.yml
Due: none

Updating version in Dockerfile
  pingaccess/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Removing default Eval Licence - now requires DevOps User/Key or license file
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding DEVOPS USER/KEY into test scripts
  pingaccess/build.test.yml
  pingdatagovernance/build.test.yml
  pingdatasync/build.test.yml
  pingdirectory/build.test.yml
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

typo [skip ci]
  pingdatasync/build.test.yml
Due: build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Fixed typo
  pingdatasync/build.test.yml
Due: build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Another Typo
  pingdatasync/build.test.yml
Due: build_pingdatasync, test_pingdatasync, deploy_pingdatasync

move to newer giterized model
  apache-jmeter/Dockerfile
  apache-jmeter/build.sh
Due: none

deploy jmeter to dockerhub
  .gitlab-ci.yml
  apache-jmeter/Dockerfile
Due: none

giterized entry point
  apache-jmeter/giterized-entrypoint.sh
Due: none

Adding PF 9.3.1
  pingfederate/Dockerfile
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Cleaned up shutdown sequence to take advantage of new features in 7.3
  pingdirectory/Dockerfile
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/90-shutdown-sequence.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

add pdg to docs
  ci_scripts/deploy_docs.sh
Due: none

add pdg to docs [skip build]
  pingdatagovernance/Dockerfile
Due: none

pdg docs
  ci_scripts/deploy_docs.sh
Due: none

Moving 5.3.0 to edge
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

improve PA import
  pingaccess/Dockerfile
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-after-start-process.sh
  pingaccess/hooks/81-import-initial-configuration.sh
  pingaccess/hooks/83-create-initial-password.sh
  pingaccess/hooks/85-import-initial-configuration.sh
  pingaccess/liveness.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Revert "improve PA import"
  pingaccess/Dockerfile
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-after-start-process.sh
  pingaccess/hooks/81-import-initial-configuration.sh
  pingaccess/hooks/83-create-initial-password.sh
  pingaccess/hooks/85-import-initial-configuration.sh
  pingaccess/liveness.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

make 5.3.0 latest
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Fix for https://jira.pingidentity.com/browse/DS-40187
  pingdirectory/hooks/90-shutdown-sequence.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Update to latest version as of 9/9/19- 7.3.0.1, 9.3.1 and 3.4.0
  pingbase/Dockerfile
  pingdownloader/gte-bits-repo.json
  test/Dockerfile
  test/doh
Due: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fix liveness issue identified byCPrice
  pingaccess/liveness.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

use new PA import API
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-after-start-process.sh
  pingaccess/hooks/83-create-initial-password.sh
  pingaccess/hooks/85-import-initial-configuration.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

test against heartbeat
  pingaccess/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

stop supporting 5.2.3
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

rm old hook
  pingaccess/hooks/81-import-initial-configuration.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  pingdownloader: any of: pingdownloader/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*
