Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

d.pingdownloader:
  stage: deploy
  script:
  - docker pull gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}
  - docker tag gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA} pingidentity/pingdownloader
  - docker push pingidentity/pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools

d.ldap-sdk-tools:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdirectory

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdataconsole

b.pingdatasync:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatasync

t.pingdatasync:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdatasync

d.pingdatasync:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatasync

b.pingdatagovernance:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernance

d.pingdatagovernance:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatagovernance

b.pingdatagovernancepap:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernancepap

b.pingfederate:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingfederate

Source CONTAINER_ENV instead of env_vars
  pingdatagovernance/opt/liveness.sh
  pingdatasync/opt/liveness.sh
  pingdirectory/opt/liveness.sh
  pingdirectoryproxy/opt/liveness.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingfederate, simple_stack.current

Seed CONTAINER_ENV with env_vars file if found. Also emit warning. Also cp . instead of * to get dot directories
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

comment change
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Remove need for _manageProfileOptions as env_vars no longer used. CONTAINER_ENV is always sourced, so variables come in via --useEnvironmentVariables
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

Use CONTAINER_ENV instead of env_vars
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
  pingdirectory/opt/staging/hooks/90-shutdown-sequence.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

Change * to . to support copying the dot files/directories
  pingcommon/opt/staging/hooks/21-update-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Append to CONTAINER_ENV instead of STATE_PROPERTIES
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

adding set -o allexport for CONTAINER_ENV
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

append env_vars, rathre than copy to include any /opt/in env_vars
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

If an env_vars file is present, check if there is a .supress-container-warning to not provide error message
  pingaccess/tests/build.test.yml
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

a good day's work
  .gitlab-ci.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pdp-pd.postman_collection.json
  pingdatacommon/opt/staging/hooks/181-install-extensions.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdataconsole/tests/build.test.yml
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

fix pds-pd integration test
  integration_tests/pds-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

building out pingdelegator
  pingdelegator/Product-staging
  pingdelegator/opt/build.sh.pre
  pingdelegator/opt/liveness.sh
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/hooks/04-check-variables.sh
  pingdelegator/opt/staging/hooks/17-check-license.sh
  pingdelegator/opt/staging/hooks/_18-setup-sequence.sh
  pingdelegator/opt/staging/instance/etc/conf.d/default.conf.subst
  pingdelegator/opt/staging/instance/etc/nginx.conf.subst
  pingdelegator/opt/staging/instance/html/delegator/config.js.subst
  pingdelegator/opt/staging/instance/html/index.html
  pingdelegator/opt/staging/instance/log/error.log
  pingdelegator/versions.json
Due: none

updating new pingdelegator
  pingdelegator/Dockerfile
Due: none

Closing 2004 sprint
  .gitlab-ci.yml
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

initial work
  pingdelegator/opt/staging/hooks/_18-setup-sequence.sh
  pingtoolkit/Dockerfile
  pingtoolkit/opt/build.sh.pre
Due: b.pingtoolkit, t.pingtoolkit, d.pingtoolkit

closes GDO-229
  pingaccess/versions.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

closes GDO-233
  pingcommon/opt/build.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-220
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

update integration test to use PA 6.0.2
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

add a placeholder variable for new tail mode
  pingbase/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

update integration test to embed httpbin
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

updated full stack integration tests
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

update the integration test collection
  integration_tests/pa-pf-pd.postman_collection.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

restore integration test yaml, add httpbin
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

update it to 6.0.2
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

deliver 6.0.2 and urgent fixes
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pa-pf-pd.postman_collection.json
  pingaccess/versions.json
  pingbase/Dockerfile
  pingcommon/opt/build.sh
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-244
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

align console build conditions
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

close GDO-224 which fixes issues for SAs on PoCs
  .gitlab-ci.yml
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-245
  pingaccess/Dockerfile
  pingaccess/opt/liveness.sh
  pingaccess/opt/server/bin/run.sh
  pingaccess/opt/staging/hooks/50-before-post-start.sh
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingaccess/opt/staging/hooks/80-post-start.sh
  pingaccess/opt/staging/hooks/81-after-start-process.sh
  pingaccess/opt/staging/hooks/83-change-password.sh
  pingaccess/opt/staging/hooks/85-import-configuration.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-245 for PingAccess to exit cleanly upon import failure
  pingaccess/Dockerfile
  pingaccess/opt/liveness.sh
  pingaccess/opt/server/bin/run.sh
  pingaccess/opt/staging/hooks/50-before-post-start.sh
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingaccess/opt/staging/hooks/80-post-start.sh
  pingaccess/opt/staging/hooks/81-after-start-process.sh
  pingaccess/opt/staging/hooks/83-change-password.sh
  pingaccess/opt/staging/hooks/85-import-configuration.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-249
  pingcommon/opt/bootstrap.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-193 and closes GDO-194
  integration_tests/pa-pf-pd.postman_collection.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

light tech debt collection
  pingfederate/opt/server/bin/run.sh
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, simple_stack.current

tech debt culling on pingdata
  pingdatacommon/opt/server/lib/_script-util.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

close GDO-231
  pingdatacommon/opt/server/lib/_script-util.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

make sure the pa test runs whenever pa builds
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Shell spring cleaning in + GDO-231
  .gitlab-ci.yml
  pingdatacommon/opt/server/lib/_script-util.sh
  pingfederate/opt/server/bin/run.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

fix deploy docs issue. error creating *.md files when no hooks are found
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  simple_stack.current: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, .gitlab-ci.yml
