Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingdataconsole, pingaccess, pingdatasync, pingdelegator, pingdirectory, pingdirectoryproxy, pingdownloader, pingfederate

pingdataconsole:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image ls
  - docker image build -t pingidentity/pingdataconsole ./pingdataconsole
  - docker push pingidentity/pingdataconsole

pingaccess:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingaccess ./pingaccess
  - docker push pingidentity/pingaccess

pingdatasync:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingdatasync ./pingdatasync
  - docker push pingidentity/pingdatasync

pingdelegator:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingdelegator ./pingdelegator
  - docker push pingidentity/pingdelegator

pingdirectory:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingdirectory ./pingdirectory
  - docker-compose -f ./pingdirectory/build.test.yml up
  ...

pingdirectoryproxy:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingdirectoryproxy ./pingdirectoryproxy
  - docker push pingidentity/pingdirectoryproxy

pingdownloader:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker push pingidentity/pingdownloader

pingfederate:
  stage: build
  script:
  - docker load -i images/pingcommon.tar
  - docker load -i images/pingdatacommon.tar
  - docker load -i images/pingbase.tar
  - docker image build -t pingidentity/pingfederate ./pingfederate
  - docker-compose -f ./pingfederate/build.test.yml up
  - docker push pingidentity/pingfederate

update gitlab.yaml [skip ci]
  .gitlab-ci.yml
Due: none

update gitlab-ci.yaml [skip ci]
  .gitlab-ci.yml
Due: none

Prune the dangling images after local is wiped
  wipe-local.sh
Due: none

Add consistent verbose check and consistency
  pingcommon/hooks/00-start-server.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
  pingdatacommon/hooks/181-check-license.sh
  pingdatacommon/hooks/183-run-setup.sh
  pingdatacommon/hooks/187-before-configuration.sh
  pingdatacommon/hooks/189-import-data.sh
Due: none

Update metadata error message. More generic
  pingdownloader/get-bits.sh
Due: pingdownloader

update gitlab - fix pingdownloader
  .gitlab-ci.yml
  pingdownloader/Dockerfile
Due: pingdownloader

gitlab add suts
  .gitlab-ci.yml
  ldap-sdk-tools/Dockerfile
  pingdownloader/Dockerfile
Due: pingdownloader

[skip ci]Removed set -x when only line in shell
  pingcommon/hooks/00-start-server.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
  pingdatacommon/hooks/183-run-setup.sh
  pingdatacommon/hooks/187-before-configuration.sh
  pingdatacommon/hooks/189-import-data.sh
Due: none

simplified build.sh
  build.sh
Due: none

Changing READMEs to devops_program@pingidentity.com contact
  ldap-sdk-tools/README.md
  pingdirectory/README.md
  pingdownloader/README.md
Due: pingdirectory, pingdownloader

update gitlab and add image vars to suts.
  .gitlab-ci.yml
  pingaccess/build.test.yml
  pingdatasync/build.test.yml
  pingdirectory/build.test.yml
  pingdownloader/build.test.yml
  pingfederate/build.test.yml
Due: pingaccess, pingdatasync, pingdirectory, pingdownloader, pingfederate

small changes to better catch errors in hooks
  pingcommon/entrypoint.sh
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/10-start-sequence.sh
Due: pingdataconsole, pingaccess, pingdatasync, pingdelegator, pingdirectory, pingdirectoryproxy, pingfederate

update suts to include compose version
  pingaccess/build.test.yml
  pingdirectory/build.test.yml
  pingdownloader/build.test.yml
Due: pingaccess, pingdirectory, pingdownloader

fix for the now infamous set -x error
  pingcommon/hooks/01-start-server.sh
Due: none

test CI
  pingdownloader/README.md
Due: pingdownloader

fix for the set -x issue
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/10-start-sequence.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/14-get-remote-server-profile.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/20-restart-sequence.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
Due: none

Applying IBM style guide formatting
  pingaccess/README.md
  pingdatasync/README.md
  pingdirectory/README.md
  pingfederate/README.md
Due: pingaccess, pingdatasync, pingdirectory, pingfederate

readme only [skip ci]
  ci_scripts/if_readme_only.sh
Due: none

gitlab adjust
  .gitlab-ci.yml
Due: none

update readme
  ldap-sdk-tools/README.md
Due: none

[skip ci]
  ci_scripts/if_readme_only.sh
Due: none

test - edit readme_only script
  ci_scripts/if_readme_only.sh
Due: none

testing CI
  ci_scripts/if_readme_only.sh
Due: none

test ci
  ci_scripts/if_readme_only.sh
Due: none

update readonly script to work with gitlab CI
  ci_scripts/if_readme_only.sh
Due: none

edit readme_only script
  ci_scripts/if_readme_only.sh
Due: none

[skip ci] edit readonly script
  ci_scripts/if_readme_only.sh
Due: none

update readem
  ldap-sdk-tools/README.md
Due: none

update readme_only script
  ci_scripts/if_readme_only.sh
Due: none

Fix another set -x issue lurking in a dark corner
  pingdatacommon/hooks/187-before-configuration.sh
Due: none

rm readmescript
  .gitlab-ci.yml
Due: none

fix readme_only.sh
  ci_scripts/if_readme_only.sh
Due: none

fix readme_only
  ci_scripts/if_readme_only.sh
Due: none

add readme_only.sh
  .gitlab-ci.yml
Due: none

Path conditions:
  pingdataconsole: any of: pingdataconsole/*, pingcommon/*, pingdatacommon/*, pingbase/*
  pingaccess: any of: pingaccess/*, pingcommon/*, pingbase/*
  pingdatasync: any of: pingdatasync/*, pingcommon/*, pingdatacommon/*, pingbase/*
  pingdelegator: any of: pingdelegator/*, pingcommon/*, pingbase/*
  pingdirectory: any of: pingdirectory/*, pingcommon/*, pingdatacommon/*, pingbase/*
  pingdirectoryproxy: any of: pingdirectoryproxy/*, pingcommon/*, pingdatacommon/*, pingbase/*
  pingdownloader: any of: pingdownloader/*
  pingfederate: any of: pingfederate/*, pingcommon/*, pingbase/*
