Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

d.pingdownloader:
  stage: deploy
  script:
  - docker pull gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}
  - docker tag gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA} pingidentity/pingdownloader
  - docker push pingidentity/pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools

d.ldap-sdk-tools:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdirectory

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdataconsole

b.pingdatasync:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatasync

t.pingdatasync:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdatasync

d.pingdatasync:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatasync

b.pingdatagovernance:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernance

d.pingdatagovernance:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatagovernance

b.pingdatagovernancepap:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernancepap

b.pingfederate:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingfederate

Final change for PingCentral snapshot
  ci_scripts/build_product.sh
  pingaccess/versions.json
  pingcentral/Product-staging
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Update PingCentral to v1.3
  pingcentral/versions.json
Due: b.pingcentral, t.pingcentral, d.pingcentral

Prom listener
  apache-jmeter/opt/server/bin/run.sh
  apache-jmeter/opt/server/lib/ext/jmeter-prometheus-plugin-0.6.0.jar
Due: b.apache-jmeter, d.apache-jmeter

Move PingCentral snapshot to 1.4.0
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, b.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit

Closes GDO-127, GDO-79
  .gitlab-ci.yml
  ci_scripts/build_product.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/183-run-setup.sh
  pingdirectory/opt/staging/hooks/81-generate-topology-json.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-129 GDO-135
  pingdatacommon/opt/staging/pd.profile/dsconfig/01-remove-console.dsconfig.subst.default
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, simple_stack.current

Update proxy docs
  pingdirectoryproxy/Dockerfile
Due: none

PAP merge
  .gitlab-ci.yml
  pingbase/Dockerfile
  pingdatagovernance/tests/build.test.yml
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/opt/server/bin/start-server
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/tests/build.test.yml
  pingdatagovernancepap/versions.json
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-147. Change from setup to manage-profile
  pingdatasync/opt/staging/hooks/183-run-setup.sh
  pingdatasync/tests/build.test.yml
Due: b.pingdirectory, t.pingdatasync, d.pingdatasync

GDO-148. Change from setup to manage-profile
  pingdatagovernance/opt/staging/hooks/183-run-setup.sh
  pingdatagovernance/tests/build.test.yml
Due: b.pingdatagovernance, d.pingdatagovernance

GDO-149. Change from setup to manage-profile
  pingdirectoryproxy/opt/pingdirectory.lib.sh
  pingdirectoryproxy/opt/staging/hooks/03-build-run-plan.sh
  pingdirectoryproxy/opt/staging/hooks/183-run-setup.sh
  pingdirectoryproxy/opt/staging/hooks/188-apply-configuration.sh
  pingdirectoryproxy/opt/staging/hooks/20-restart-sequence.sh
  pingdirectoryproxy/opt/staging/hooks/80-post-start.sh
  pingdirectoryproxy/opt/staging/hooks/81-generate-topology-json.sh
  pingdirectoryproxy/opt/staging/hooks/pingdirectory.lib.sh
  pingdirectoryproxy/tests/build.test.yml
Due: none

GDO-146. Moving manage-profile into pingdatacommon
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/188-apply-configuration.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/183-run-setup.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, simple_stack.current

gdo-146 integration testing
  integration_tests/pds-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

move from ping-identity to ping-gte
  .gitlab-ci.yml
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_failure.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

remove automatic build/deploy of 7.3 versions
  pingdatagovernance/versions.json
  pingdatasync/versions.json
Due: b.pingdirectory, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance

gdo-146 - fail if legacy server-profile/dsconfig is found
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/188-apply-configuration.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

Adding pingdatacommon to force build for integration tests
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

benign change to nudge build
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

removing the BRANCH setting, moving back to use master
  pingdatagovernance/tests/build.test.yml
  pingdatasync/tests/build.test.yml
  pingdirectoryproxy/tests/build.test.yml
Due: b.pingdirectory, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance

GDO-69 - providing variable to add ADDTIONAL_SETUP_ARGS to a Ping Data product setup scenario
  pingbase/Dockerfile
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Remove broken link
  README.md
Due: none

Fix typo in configuration file name
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
Due: b.pingdatagovernancepap, d.pingdatagovernancepap

GDO-166 - Adding back make-ldif templates to a 183-run-setup.sh.pre in pingdirectory
  pingdirectory/opt/staging/hooks/183-run-setup.sh.pre
  pingdirectory/tests/_s2-custom-non-root.test.yml
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

removing old branch
  integration_tests/pds-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

GDO-166 - Creation of a 182-pre-setup.sh hook
  pingdatacommon/opt/staging/hooks/18-setup-sequence.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdirectory/opt/staging/hooks/183-run-setup.sh.pre
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, simple_stack.current

upgrade to latest Tomcat release
  pingdataconsole/versions.json
Due: b.pingdataconsole, d.pingdataconsole

GDO-153
  integration_tests/pds-pd.latest.test.sh
  integration_tests/pds-pd.latest.test.yml
  integration_tests/pds-pd.postman_collection.json
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

close several issues in the build and images
  ci_scripts/run_smoke.sh
  ci_scripts/serial_build.sh
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
  pingaccess/tests/build.test.yml
  pingbase/Dockerfile
  pingcentral/tests/bare.test.yml
  pingcentral/tests/build.test.yml
  pingcommon/opt/entrypoint.sh
  pingdatacommon/opt/server/lib/_start-collector-helper.sh
  pingdatacommon/opt/staging/pd.profile/dsconfig/01-license-gauge.dsconfig.subst.default
  pingdatacommon/opt/staging/pd.profile/dsconfig/01-remove-host-monitor.dsconfig.subst.default
  pingdataconsole/Product-staging
  pingdataconsole/opt/liveness.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdataconsole/opt/staging/instance/conf/server.xml.subst.default
  pingdataconsole/opt/staging/keystore
  pingdatagovernance/tests/build.test.yml
  pingdatagovernancepap/tests/build.test.yml
  pingdatasync/tests/build.test.yml
  pingdirectory/tests/_s2-custom-non-root.test.yml
  pingdirectoryproxy/tests/build.test.yml
  pingfederate/tests/build.test.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

mid-sprint merge request
  apache-jmeter/opt/server/bin/run.sh
  apache-jmeter/tests/help.test.yml
  ci_scripts/ci_tools.lib.sh
  pingcommon/opt/bootstrap.sh
  pingdatacommon/opt/staging/hooks/181-install-extensions.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Address urgent issue with missing module for PingAccess
  .gitlab-ci.yml
  pingjvm/build-jvm.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-191 - cleanup of pre-setup and run-setup hooks for PingDirectory and ldif imports
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, simple_stack.current

GDO-190 - Release PingFederate 10.0.2
  integration_tests/pa-pf-pd.latest.test.yml
  pingfederate/versions.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, simple_stack.current

GDO-197
  pingdirectory/opt/pingdirectory.lib.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

GDO-198
  pingdirectory/opt/staging/hooks/81-generate-topology-json.sh
  pingdirectory/opt/staging/hooks/81-repair-topology.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

GDO-196
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/pingdirectory.lib.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, b.pingfederate, simple_stack.current

Adding pingdirectory dependency to support pds-pd integration testing
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Fix replication in docker-compose deployments of PingDirectory
  .gitlab-ci.yml
  pingdirectory/opt/pingdirectory.lib.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/81-generate-topology-json.sh
  pingdirectory/opt/staging/hooks/81-repair-topology.sh
  pingdirectory/opt/staging/hooks/pingdirectory.lib.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Introduce CONTAINER_ENV variable to define file used to pass variables between hook scripts
  pingbase/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

source CONTAINER_ENV instead of STATE_PROPERTIES
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Stop sourcing env_vars and STATE_PROPTIES. Starg sourcing CONTAINER_ENV
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  simple_stack.current: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, .gitlab-ci.yml
