Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  pingdownloader: any of: pingdownloader/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*

A few miscellaneous fixes
  pingcommon/hooks/07-apply-server-profile.sh
  pingcommon/hooks/pingcommon.lib.sh
  pingdirectory/Dockerfile
  pingdirectory/hooks/80-post-start.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

build cleanup for gosu, remove wget dependency
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

add verbose option to hook
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

handle multiple remote lists for extnsions
  pingdatacommon/hooks/186-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

fix error handling
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

updates to layered remote extensions
  pingdatacommon/hooks/186-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Disable schema replication - schema comes from configuration and doesn't need to be replicated
  pingdirectory/Dockerfile
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

fix for pre/post hooks
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

make pa 5.3.1 'edge'
  ci_scripts/run_tests.sh
  pingaccess/Dockerfile
  pingaccess/hooks/50-before-post-start.sh
  pingaccess/hooks/51-add-engine.sh
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-after-start-process.sh
  pingaccess/hooks/85-import-initial-configuration.sh
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

remove false error
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fixes to layered remote extensions code
  pingdatacommon/hooks/186-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

fix for last line without carriage return
  pingdatacommon/hooks/186-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

use subshell in copy_files rather than in-shell cd -
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

use only one runner
  .gitlab-ci.yml
Due: none

Allow external injection of topology.json file
  pingdirectory/hooks/81-generate-topology-json.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

If topology.json is externally provided, then do not call the generate script at all
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Pipeline Improvements:
  .gitlab-ci.yml
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_foundation.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/docker-cleanup.sh
  ci_scripts/failure_cleanup.sh
  ci_scripts/prep_build_foundation.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_tests.sh
  pingaccess/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

remove some refs to runner1
  .gitlab-ci.yml
Due: none

quote the command
  ci_scripts/deploy_to_docker_hub.sh
Due: none

add AND
  ci_scripts/deploy_to_gcr.sh
Due: none

untag, not delete
  ci_scripts/deploy_to_gcr.sh
Due: none

make runners a bit more sticky to help with cache
  .gitlab-ci.yml
Due: none

make executable
  ci_scripts/deploy_foundation.sh
Due: none

small fix
  ci_scripts/deploy_foundation.sh
Due: none

protect against errors to tools.properties. Liveness pulls RootDSE which requires no creds
  pingdirectory/liveness.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Export PD_STATE and ORCHESTRATION types so it's available to hook scripts
  pingdirectory/hooks/03-build-run-plan.sh
  pingdirectory/hooks/20-restart-sequence.sh
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Fixing invocation with dsreplication enable (sorry...)
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

move extensions installation to earlier in the setup sequence
  pingdatacommon/hooks/18-setup-sequence.sh
  pingdatacommon/hooks/181-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

avoid naming conflict with downloaded extensions and fix gpg signature verification issue with path
  pingdatacommon/hooks/181-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

better cleanup
  .gitlab-ci.yml
Due: none

better cleanup
  .gitlab-ci.yml
  ci_scripts/docker-cleanup.sh
Due: none

remove unnecessary call to envsubst
  pingdatacommon/hooks/188-apply-configuration.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Moving edge to 9.3.2
  pingfederate/Dockerfile
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

License retrieval - Additional check on curl return code in case write to disk fails.
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate
