Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

pingfoundation:
  stage: build_foundation
  script:
  - sh ci_scripts/prep_build_foundation.sh
  - docker image build -t pingidentity/pingcommon ./pingcommon
  - docker image build -t pingidentity/pingdatacommon ./pingdatacommon
  ...

pingdownloader:
  stage: build_foundation
  script:
  - docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker-compose -f pingdownloader/build.test.yml up --exit-code-from sut
  - docker push pingidentity/pingdownloader

build_ldap-sdk-tools:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh ldap-sdk-tools

test_ldap-sdk-tools:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh ldap-sdk-tools

deploy_ldap-sdk-tools:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh ldap-sdk-tools
  - sh ci_scripts/deploy_to_gcr.sh ldap-sdk-tools

build_pingaccess:
  stage: build
  script:
  - ci_scripts/build_product.sh pingaccess

test_pingaccess:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingaccess

deploy_pingaccess:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingaccess
  - sh ci_scripts/deploy_to_gcr.sh pingaccess

build_pingdirectory:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdirectory

test_pingdirectory:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdirectory

deploy_pingdirectory:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdirectory
  - sh ci_scripts/deploy_to_gcr.sh pingdirectory

build_pingdataconsole:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh pingdataconsole

deploy_pingdataconsole:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdataconsole
  - sh ci_scripts/deploy_to_gcr.sh pingdataconsole

build_pingdatasync:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatasync

test_pingdatasync:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdatasync

deploy_pingdatasync:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdatasync
  - sh ci_scripts/deploy_to_gcr.sh pingdatasync

build_pingfederate:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingfederate

test_pingfederate:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingfederate

deploy_pingfederate:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingfederate
  - sh ci_scripts/deploy_to_gcr.sh pingfederate

Adding in support for envsubst and nslookup with apt-ubuntu and yum-centos
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding simply indention in while loop
  pingdirectory/hooks/189-import-data.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Fixing bug with calculation
  pingdatacommon/hooks/184-generate-topology-descriptor.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Adding missing PING_PRODUCT environment variable
  pingaccess/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingfederate, test_pingfederate, deploy_pingfederate

Add some error colorization to error messages
  pingcommon/lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Press in eval license, when devops-user/devops-key not present
  pingbase/Dockerfile
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding helper echo functions and output calling parent hook
  pingcommon/lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding echos of git info, added docs and cleaned up dead code
  pingcommon/hooks/14-get-remote-server-profile.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

added source of lib.sh and echo_color functions
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding source of lib.sh. Results in message of starting hook...
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/15-expand-templates.sh
  pingcommon/hooks/16-apply-server-profile.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
  pingdatacommon/hooks/183-run-setup.sh
  pingdatacommon/hooks/184-generate-topology-descriptor.sh
  pingdatacommon/hooks/185-apply-tools-properties.sh
  pingdatacommon/hooks/186-install-extensions.sh
  pingdatacommon/hooks/187-before-configuration.sh
  pingdatacommon/hooks/188-apply-configuration.sh
  pingdatacommon/hooks/189-import-data.sh
  pingdatasync/hooks/183-run-setup.sh
  pingdirectory/hooks/189-import-data.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/81-repair-topology.sh
  pingdirectory/hooks/90-shutdown-sequence.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Create cat_indent function and further cleanup/docs
  pingcommon/hooks/17-check-license.sh
  pingcommon/lib.sh
  pingdatacommon/hooks/184-generate-topology-descriptor.sh
  pingdatasync/hooks/183-run-setup.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/189-import-data.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectoryproxy/hooks/183-run-setup.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding some echo helper functions and get_value
  pingcommon/lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding preamble echo of startup container variables
  pingcommon/hooks/01-start-server.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Changed to new get_value in lib.sh
  pingcommon/hooks/14-get-remote-server-profile.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fixing type, quoting a variable and echoing details
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Make use of PING_DEBUG to offer up a quieter dsconfig/import experiance in logs
  pingdatacommon/hooks/188-apply-configuration.sh
  pingdirectory/hooks/189-import-data.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Revolving issues with pingdelegator. now uses clean nginx.
  pingdelegator/Dockerfile
  pingdelegator/entrypoint.sh
  pingdelegator/index.html
Due: none

Documentation updates and a few function cleanups in hooks
  build.sh
  pingcommon/entrypoint.sh
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/10-start-sequence.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/14-get-remote-server-profile.sh
  pingcommon/hooks/15-expand-templates.sh
  pingcommon/hooks/16-apply-server-profile.sh
  pingcommon/hooks/17-check-license.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/20-restart-sequence.sh
  pingcommon/hooks/21-update-server-profile.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
  pingcommon/lib.sh
  pingdatacommon/configure-tools.sh
  pingdatacommon/hooks/18-setup-sequence.sh
  pingdatacommon/hooks/183-run-setup.sh
  pingdatacommon/hooks/184-generate-topology-descriptor.sh
  pingdatacommon/hooks/185-apply-tools-properties.sh
  pingdatacommon/hooks/186-install-extensions.sh
  pingdatacommon/hooks/187-before-configuration.sh
  pingdatacommon/hooks/188-apply-configuration.sh
  pingdatacommon/hooks/189-import-data.sh
  pingdatacommon/pingdata.lib.sh
  pingdatasync/build.test.sh
  pingdatasync/hooks/183-run-setup.sh
  pingdelegator/entrypoint.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/189-import-data.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/81-repair-topology.sh
  pingdirectory/hooks/90-shutdown-sequence.sh
  pingdirectoryproxy/hooks/183-run-setup.sh
  pingdownloader/get-bits.sh
Due: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding docs alongside code - build-docs.sh autogenerates gitbook docs
  apache-jmeter/Dockerfile
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcommon/Dockerfile
  pingdatacommon/Dockerfile
  pingdataconsole/Dockerfile
  pingdatasync/Dockerfile
  pingdatasync/build.test.yml
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectory/build.test.yml
  pingdirectoryproxy/Dockerfile
  pingdownloader/Dockerfile
  pingfederate/Dockerfile
Due: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fix gitbook broken links
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatasync/README.md
  pingdirectory/README.md
  pingdownloader/README.md
  pingfederate/README.md
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Tricking the build system
  pingfederate/Dockerfile
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Changing support clause
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatasync/README.md
  pingdelegator/README.md
  pingdirectory/README.md
  pingdownloader/README.md
  pingfederate/README.md
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

make 9.2.3 latest PF
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Missing period
  pingdirectory/README.md
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Document hook files
  pingcommon/hooks/01-start-server.sh
  pingdirectory/hooks/80-post-start.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

test [test_only] [skip CI]
  ci_scripts/get_commit_vars.sh
Due: none

the includes [test_only] in here
  .gitlab-ci.yml
Due: none

this contains [test_only] in here
  .gitlab-ci.yml
Due: none

push "build-docs.sh" to github
  .gitlab-ci.yml
  ci_scripts/deploy_docs.sh
  ci_scripts/get_commit_vars.sh
Due: none

push "build-docs.sh" to github
  .gitlab-ci.yml
Due: none

push "build-docs.sh" to github
  ci_scripts/deploy_docs.sh
Due: none

Adding :edge tag to example docs
  pingaccess/Dockerfile
  pingdirectory/Dockerfile
  pingfederate/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding comments to hooks and various fixes
  pingcommon/entrypoint.sh
  pingcommon/hooks/11-before-copying-bits.sh
  pingcommon/hooks/12-before-applying-server-profile.sh
  pingcommon/hooks/14-get-remote-server-profile.sh
  pingcommon/hooks/15-expand-templates.sh
  pingcommon/hooks/16-apply-server-profile.sh
  pingcommon/hooks/17-check-license.sh
  pingcommon/hooks/18-setup-sequence.sh
  pingcommon/hooks/20-restart-sequence.sh
  pingcommon/hooks/21-update-server-profile.sh
  pingcommon/hooks/50-before-post-start.sh
  pingcommon/hooks/80-post-start.sh
  pingcommon/hooks/90-shutdown-sequence.sh
  pingcommon/lib.sh
  pingdatacommon/hooks/18-setup-sequence.sh
  pingdatacommon/hooks/183-run-setup.sh
  pingdirectory/liveness.sh
  pingdirectoryproxy/liveness.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Ci
  .gitlab-ci.yml
Due: none

set github link to absolute
  ci_scripts/deploy_docs.sh
Due: none

typo
  ci_scripts/deploy_docs.sh
Due: none

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  pingdownloader: any of: pingdownloader/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*
