Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

pingfoundation:
  stage: build_foundation
  script:
  - sh ci_scripts/prep_build_foundation.sh
  - docker image build -t pingidentity/pingcommon ./pingcommon
  - docker image build -t pingidentity/pingdatacommon ./pingdatacommon
  ...

build_pingdownloader:
  stage: build_foundation
  script:
  - docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker-compose -f pingdownloader/build.test.yml up --exit-code-from sut
  tags:
  - runner1

deploy_pingdownloader:
  stage: deploy
  script:
  - docker push pingidentity/pingdownloader
  tags:
  - runner1

build_apache-jmeter:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh apache-jmeter
  tags:
  - runner1

deploy_apache-jmeter:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh apache-jmeter
  - sh ci_scripts/deploy_to_gcr.sh apache-jmeter
  tags:
  - runner1

build_ldap-sdk-tools:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh ldap-sdk-tools
  tags:
  - runner1

test_ldap-sdk-tools:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh ldap-sdk-tools
  tags:
  - runner1

deploy_ldap-sdk-tools:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh ldap-sdk-tools
  - sh ci_scripts/deploy_to_gcr.sh ldap-sdk-tools
  tags:
  - runner1

build_pingaccess:
  stage: build
  script:
  - ci_scripts/build_product.sh pingaccess
  tags:
  - runner1

test_pingaccess:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingaccess
  tags:
  - runner1

deploy_pingaccess:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingaccess
  - sh ci_scripts/deploy_to_gcr.sh pingaccess
  tags:
  - runner1

build_pingdirectory:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdirectory
  tags:
  - runner1

test_pingdirectory:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdirectory
  tags:
  - runner1

deploy_pingdirectory:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdirectory
  - sh ci_scripts/deploy_to_gcr.sh pingdirectory
  tags:
  - runner1

build_pingdataconsole:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh pingdataconsole
  tags:
  - runner1

deploy_pingdataconsole:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdataconsole
  - sh ci_scripts/deploy_to_gcr.sh pingdataconsole
  tags:
  - runner1

build_pingdatasync:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatasync
  tags:
  - runner1

test_pingdatasync:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdatasync
  tags:
  - runner1

deploy_pingdatasync:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdatasync
  - sh ci_scripts/deploy_to_gcr.sh pingdatasync
  tags:
  - runner1

build_pingdatagovernance:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatagovernance
  tags:
  - runner1

build_pingfederate:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingfederate
  tags:
  - runner1

Fix for GDO-51, GDP-52. Redacting sensitive variables and identifying variables overridden by env_vars.
  pingbase/Dockerfile
  pingcommon/hooks/02-get-remote-server-profile.sh
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Setting default MAX_HEAP_SIZE=1g for PingDataGoverance (GDO-10)
  pingdatagovernance/Dockerfile
Due: build_pingdatagovernance, deploy_pingdatagovernance

update to 5.2.1
  apache-jmeter/Dockerfile
Due: build_apache-jmeter, deploy_apache-jmeter

Build PF 9.3.3
  pingfederate/Dockerfile
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

test
  .gitlab-ci.yml
Due: none

make 5.3.2 pingaccess:edge
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

require explicit EULA acceptance to start container
  pingbase/Dockerfile
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

self document ACCEPT_EULA variable
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

move EULA check to devops creds section
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

change the heap calculation to abide by cgroup limit and allow override
  apache-jmeter/giterized-entrypoint.sh
Due: build_apache-jmeter, deploy_apache-jmeter

Updates for product readmes. Requesting license info
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatagovernance/README.md
  pingdatasync/README.md
  pingdirectory/README.md
  pingfederate/README.md
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

prefix the environment variable to reduce confusion
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

update LDAP SDk to 4.0.14
  ldap-sdk-tools/Dockerfile
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools

update the bits repo descriptor to 8.0.0.0 for PingData products
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

update the version file for each PingData produt to include 8.0
  pingdatagovernance/versions
  pingdatasync/versions
  pingdirectory/versions
  pingdirectoryproxy/versions
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance

Ci
  ci_scripts/build_and_tag.sh
Due: none

unbugger the branch
  ci_scripts/build_and_tag.sh
Due: none

update the suts with EULA acceptance
  pingaccess/build.test.yml
  pingdatasync/build.test.yml
  pingdirectory/build.test.yml
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

check for OPERATIONAL_MODE=STANDALONE
  pingaccess/hooks/80-post-start.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

update the latest to 10.0 for downloads
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

update to 10.0 for the build
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

fix deploy foundation
  ci_scripts/build_and_tag.sh
  ci_scripts/deploy_foundation.sh
Due: none

fix
  ci_scripts/deploy_foundation.sh
Due: none

current: PA 6.0.0+5.3.2
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Arno update 10.0.0
  pingdownloader/gte-bits-repo.json
  pingfederate/versions
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

make pf 10.0 edge
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Initial checking for pingdirectory multi-cluster support
  pingcommon/hooks/04-check-variables.sh
  pingdirectory/hooks/03-build-run-plan.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/pingdirectory.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Initial files for PingCentral
  pingcentral/Dockerfile
  pingcentral/README.md
  pingcentral/bin/obfuscate.sh
  pingcentral/bin/run.sh
  pingcentral/conf/h2/application.properties
  pingcentral/conf/h2/pingcentral.jwk
  pingcentral/conf/h2/pingcentral.mv.db
  pingcentral/conf/log4j2.xml
  pingcentral/conf/mysql/application.properties
  pingcentral/conf/mysql/mysql-connector-java-8.0.18.jar
  pingcentral/conf/pingcentral.lic
  pingcentral/docker-compose-h2.yml
  pingcentral/docker-compose-mysql.yml
Due: none

add pingcentral
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

Update to license text
  LICENSE
  LICENSE.md
Due: none

fixed typo in comments (cprice feedback)
  README.md
  pingcommon/entrypoint.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Refactor Oliver's first proposal into the framework
  build.sh
  pingcentral/Dockerfile
  pingcentral/Dockerfile.op
  pingcentral/bin/obfuscate.sh
  pingcentral/conf/h2/application.properties
  pingcentral/conf/h2/pingcentral.jwk
  pingcentral/conf/h2/pingcentral.mv.db
  pingcentral/conf/log4j2.xml
  pingcentral/conf/mysql/application.properties
  pingcentral/conf/mysql/mysql-connector-java-8.0.18.jar
  pingcentral/conf/pingcentral.lic
  pingcentral/liveness.sh
  pingcentral/run.sh.op
  pingcentral/versions
Due: none

Initial check of PAP docker image
  build.sh
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/README.md
  pingdatagovernancepap/build.test.yml
  pingdatagovernancepap/hooks/18-setup-sequence.sh
  pingdatagovernancepap/hooks/183-run-setup.sh
  pingdatagovernancepap/liveness.sh
  pingdatagovernancepap/versions
Due: none

Add pingdatagovernancepap to ci scripts
  .gitlab-ci.yml
  ci_scripts/deploy_docs.sh
Due: none

update of initial pap
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/hooks/183-run-setup.sh
Due: none

cleanup
  pingcentral/Dockerfile.op
  pingcentral/docker-compose-h2.yml
  pingcentral/docker-compose-mysql.yml
  pingcentral/run.sh.op
Due: none

update the build
  .gitlab-ci.yml
  ci_scripts/build_and_tag.sh
Due: none

add build test for pingcentral
  pingcentral/build.test.yml
Due: none

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  build_pingdownloader: any of: pingdownloader/**/*
  deploy_pingdownloader: any of: pingdownloader/**/*
  build_apache-jmeter: any of: apache-jmeter/**/*
  deploy_apache-jmeter: any of: apache-jmeter/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*
