Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  pingdownloader: any of: pingdownloader/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*

typo [skip build]
  pingcommon/hooks/15-expand-templates.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

update to LDAP SDK 4.0.11
  ldap-sdk-tools/Dockerfile
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools

add links to pingbase env variables [skip build]
  ci_scripts/deploy_docs.sh
  pingaccess/Dockerfile
  pingcommon/hooks/15-expand-templates.sh
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingfederate/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

update gh location [skip ci]
  ci_scripts/push_to_github.sh
Due: none

Adding shellcheck comments.
  pingcommon/hooks/15-expand-templates.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Perform more checks against rejected/skipped imports and output errors/exit unless PD_IMPORT_CONTINUE_ON_ERROR=true
  pingdirectory/hooks/189-import-data.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Added comments to hook
  pingdirectory/hooks/189-import-data.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

ci test
  pingdirectory/Dockerfile
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

ci test
  .gitlab-ci.yml
  pingdirectory/Dockerfile
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

fix [skip build]
  .gitlab-ci.yml
Due: none

deploy tag if present
  ci_scripts/push_to_github.sh
Due: none

push tag if present
  ci_scripts/push_to_github.sh
Due: none

Pd73
  build.sh
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/17-check-license.sh
  pingdatacommon/Dockerfile
  pingdatacommon/configure-tools.sh
  pingdatacommon/hooks/185-apply-tools-properties.sh
  pingdataconsole/Dockerfile
  pingdatasync/Dockerfile
  pingdatasync/versions
  pingdirectory/Dockerfile
  pingdirectory/build.test.yml
  pingdirectory/hooks/15-expand-templates.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/186-install-extensions.sh
  pingdirectory/hooks/188-apply-configuration.sh
  pingdirectory/hooks/189-import-data.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/81-repair-topology.sh
  pingdirectory/pingdirectory.lib.sh
  pingdirectory/versions
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/versions
  pingdownloader/Dockerfile
Due: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

update to 9.3. rm 9.2.3
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

update PF license
  pingfederate/Dockerfile
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Adding COLORIZE_LOGS environment variable. If 'true', then output logs will be colorized.
  pingbase/Dockerfile
  pingcommon/hooks/04-check-variables.sh
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Reduce standard logging - only show license when PING_DEBUG=true
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fix in comments
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Removing the manipulation of templates in pingdatacommon, will be running in pingdirectory only
  pingdatacommon/hooks/18-setup-sequence.sh
  pingdatacommon/hooks/182-template-to-ldif.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Cleanup of hooks. Removing extensions and import-data from pingdirectory as they are now handled by manage-profile
  pingdirectory/hooks/186-install-extensions.sh
  pingdirectory/hooks/189-import-data.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Cleanup of hooks. Moving template-to-ldif into run-setup, as it's only pertinant to pingdirectory and will convert templates to ldif to be handled by manage-profile
  pingdirectory/hooks/182-template-to-ldif.sh
  pingdirectory/hooks/183-run-setup.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Cleanup of HOSTNAME variable and further testing of PingDirectory restarts/upgrades in Kubernetes
  pingcommon/entrypoint.sh
  pingcommon/hooks/04-check-variables.sh
  pingdatacommon/hooks/pingdata.lib.sh
  pingdirectory/hooks/03-build-run-plan.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/20-restart-sequence.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/81-generate-topology-json.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fixed issue with creation of encryption options. erroneous echo causing isseues
  pingdatacommon/hooks/pingdata.lib.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

fixed issue with test of SERVER_ROOT_DIR as a file. should test for directory
  pingcommon/hooks/03-build-run-plan.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding IMAGE_VERSION and IMAGE_GIT_REV to build
  ci_scripts/build_and_tag.sh
Due: none

Changed HEAD to the passsed sha value for git rev-parse command
  ci_scripts/build_and_tag.sh
Due: none

Adding new build argumenets, IMAGE_VERSION and IMAGE_GIT_REV to docker builds
  build.sh
Due: none

removing temp build name
  pingcommon/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Updating to use the new license server and use of IMAGE_VERSION and IMAGE_GIT_REV
  pingbase/Dockerfile
  pingcommon/entrypoint.sh
  pingcommon/hooks/17-check-license.sh
  pingdownloader/get-bits.sh
Due: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Build pa import
  build.sh
  ci_scripts/run_tests.sh
  pingaccess/Dockerfile
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-import-initial-configuration.sh
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Removing old git branch from test yml
  pingdirectory/build.test.yml
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

If an old directory is found, but no uuid, then clean before building new server
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Fixing extension issue with manage-profile setup. Using skipImports option. Include env_vars file is available
  pingdirectory/hooks/183-run-setup.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

added pingdatagovernance
  build.sh
Due: none

Cleanup
  build.sh
Due: none

Adding MOTD functionality, .profile to pull motd and set prompt, Variables for MOTD and PS1 and /opt directory cleanup/fixes
  pingbase/Dockerfile
  pingcommon/.profile
  pingcommon/Dockerfile
  pingcommon/hooks/01-start-server.sh
  pingcommon/hooks/04-check-variables.sh
  pingcommon/hooks/09-build-motd.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Initial PingDataGovernance Build
  pingdatagovernance/Dockerfile
  pingdatagovernance/README.md
  pingdatagovernance/build.test.yml
  pingdatagovernance/hooks/183-run-setup.sh
  pingdatagovernance/liveness.sh
  pingdatagovernance/versions
Due: none

Adding pingdatagovernance
  .gitlab-ci.yml
Due: none

Adding support for zipping up a _data.zip_ directory before starting PF
  pingcommon/hooks/05-expand-templates.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate
