Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  build_pingdownloader: any of: pingdownloader/**/*
  deploy_pingdownloader: any of: pingdownloader/**/*
  build_apache-jmeter: any of: apache-jmeter/**/*
  deploy_apache-jmeter: any of: apache-jmeter/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*

fix typo in build ci script
  .gitlab-ci.yml
Due: none

adding hooks to import default PAP policy snapshots
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/hooks/183-run-setup.sh
  pingdatagovernancepap/hooks/80-post-start.sh
  pingdatagovernancepap/hooks/81-install-policies.sh
Due: none

fix build test
  pingcentral/build.test.yml
Due: none

Replacing PRODUCT_SERVER_PROFILE_DIR with PD_PROFILE for all PingData apps for same name of profile directory across all PingData apps
  .gitignore
  pingdatacommon/Dockerfile
  pingdatacommon/hooks/181-install-extensions.sh
  pingdatagovernance/Dockerfile
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/20-restart-sequence.sh
  pingdirectoryproxy/Dockerfile
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance

update to the CI build to run locally
  .gitlab-ci.yml
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_foundation.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/failure_cleanup.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_tests.sh
  pingcentral/build.test.yml
Due: none

push pc to docker hub
  pingcentral/README.md
Due: none

push pc to docker hub
  pingcentral/Dockerfile
Due: none

reduce chat for liveness checks
  pingdirectory/liveness.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

remove duplicate version
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

simplify build script slightly
  ci_scripts/build_product.sh
Due: none

enable buildkit
  ci_scripts/build_and_tag.sh
Due: none

user apt-get instead of apt
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

rid us of deadweight
  test/Dockerfile
  test/doh
Due: none

update startup script for pingfederate
  pingfederate/run.sh
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

root step down initial cut
  pingbase/Dockerfile
  pingbase/build.sh
  pingcommon/Dockerfile
  pingcommon/bootstrap.sh
  pingfederate/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

update ci scripts for local builds
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/deploy_foundation.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/failure_cleanup.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_tests.sh
Due: none

fix build local vs pipeline
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/deploy_foundation.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/failure_cleanup.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_tests.sh
Due: none

update trigger to rebuild on ci update
  .gitlab-ci.yml
Due: none

from which to type to check commands
  pingcommon/bootstrap.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

from which to type for the build helper
  pingbase/build.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

include post-build helper to extend file permissions when the builds finish
  pingcommon/post-build.sh
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

update documentation and add post-build helper
  pingcentral/Dockerfile
Due: none

formatting cleanup
  ci_scripts/build_and_tag.sh
Due: none

include post-build helper
  pingcommon/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Correct PingFederate to PingCentral
  pingcentral/Dockerfile
Due: none

rework the build sequence for reliability
  ci_scripts/build_and_tag.sh
Due: none

fixing yaml error
  .gitlab-ci.yml
Due: none

remove conditional pull
  ci_scripts/build_and_tag.sh
Due: none

remove history from build scripts
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/deploy_foundation.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_tests.sh
Due: none

move to using the ciTag for foundation
  ci_scripts/build_and_tag.sh
  ci_scripts/build_foundation.sh
Due: none

fix function bug checking image presence
  ci_scripts/build_and_tag.sh
Due: none

implement feedback from security, swapping the order in which gosu and tiny are used
  pingbase/Dockerfile
  pingcommon/bootstrap.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

fix bug building product on wrong shim
  ci_scripts/build_product.sh
  pingcommon/Dockerfile
  pingcommon/entrypoint.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

move the copy back to being generic
  pingcommon/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

default to non root
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

after further discussion, we are going to take the safe route, keep the default backward compatible and give users some time to switch over to non root containers
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

quiet!
  pingcommon/bootstrap.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

do not build for sut
  pingdatasync/build.test.yml
Due: build_pingdatasync, test_pingdatasync, deploy_pingdatasync

rearrange how to run tests
  ci_scripts/run_tests.sh
Due: none

fix test tag for pull
  ci_scripts/run_tests.sh
Due: none
