Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingfederate

.gitlab-ci.yml:

stages: 
  - build_foundation
  - build
  - test
  - deploy

before_script:
  - docker info
  - docker-compose version
  - git --version
  - sh ci_scripts/if_readme_only.sh 
  - echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin

pingfoundation:
  stage: build_foundation
  script:
    - docker image build -t pingidentity/pingcommon ./pingcommon
    - docker image build -t pingidentity/pingdatacommon ./pingdatacommon
    - docker image build -t pingidentity/pingbase ./pingbase
  tags:
    - docker


pingdownloader:
  stage: build_foundation
  script:
    - docker image build -t pingidentity/pingdownloader ./pingdownloader
    - docker-compose -f pingdownloader/build.test.yml up --exit-code-from sut
    - docker push pingidentity/pingdownloader
  only:
    changes:
      - pingdownloader/*

ldap-sdk-tools:
  stage: build
  script:
    - docker image build -t pingidentity/ldap-sdk-tools ./ldap-sdk-tools
    - docker-compose -f ldap-sdk-tools/build.test.yml up --exit-code-from sut
    - docker push pingidentity/ldap-sdk-tools
  only:
    changes:
      - pingdownloader/*
      - ldap-sdk-tools/*

pingdataconsole:
  stage: build
  script:
    - docker image ls
    - docker image build -t pingidentity/pingdataconsole ./pingdataconsole
    - docker push pingidentity/pingdataconsole
  only:
    changes:
      - pingdataconsole/*
      - pingdownloader/*

pingaccess:
  stage: build
  script:
    - docker image build -t pingidentity/pingaccess ./pingaccess
    - docker-compose -f pingaccess/build.test.yml up --exit-code-from sut
    - docker push pingidentity/pingaccess
  only:
    changes:
      - pingaccess/*
      - pingcommon/*
      - pingbase/*
      - pingdownloader/*

pingdatasync:
  stage: build
  script:
    - docker image build -t pingidentity/pingdatasync ./pingdatasync
    - docker-compose -f pingdatasync/build.test.yml up --exit-code-from sut
    - docker push pingidentity/pingdatasync
  only:
    changes:
      - pingdatasync/*
      - pingcommon/*
      - pingdatacommon/*
      - pingbase/*
      - pingdownloader/*

pingdirectory:
  stage: build
  script:
    - docker image build -t pingidentity/pingdirectory ./pingdirectory
    - docker-compose -f ./pingdirectory/build.test.yml up --exit-code-from sut
    - docker push pingidentity/pingdirectory
  only:
    changes:
      - pingdirectory/*
      - pingcommon/*
      - pingdatacommon/*
      - pingbase/*
      - pingdownloader/*

# pingdirectoryproxy:
#   stage: build
#   script:
#     - docker image build -t pingidentity/pingdirectoryproxy ./pingdirectoryproxy
#     - docker push pingidentity/pingdirectoryproxy
#   only:
#     changes:
#       - pingdirectoryproxy/*
#       - pingcommon/*
#       - pingdatacommon/*
#       - pingbase/*
#       - pingdownloader/*

pingfederate:
  stage: build
  script:
    - docker image build -t pingidentity/pingfederate ./pingfederate
    - docker-compose -f ./pingfederate/build.test.yml up --exit-code-from sut
    - docker push pingidentity/pingfederate
  only:
    changes:
      - pingfederate/*
      - pingcommon/*
      - pingbase/*
      - pingdownloader/*

# pingdelegator:
#   stage: build
#   script:
#     - docker load -i images/pingcommon.tar
#     - docker load -i images/pingdatacommon.tar
#     - docker load -i images/pingbase.tar
#     - docker image build -t pingidentity/pingdelegator ./pingdelegator
#     - docker push pingidentity/pingdelegator
#   only:
#     changes:
#       - pingdelegator/*
#       - pingcommon/*
#       - pingbase/*
#       - pingdownloader/*

push to github
  ci_scripts/push_to_github.sh
Due: none

Updating with Ping Identity DevOps issues url
  CONTRIBUTING.md
Due: none

Resolving Issue #14 - Reserved DOLLAR Variable
  pingcommon/hooks/15-expand-templates.sh
Due: none

spread building, testing and deploying out
  .gitlab-ci.yml
  pingbase/Dockerfile
  pingcommon/Dockerfile
Due: pingaccess, pingdatasync, pingdirectory, pingfederate

test find readmes
  pingdirectory/README.md
  pingdirectory/build.test.yml
Due: pingdirectory

update readmes to match docs
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingdataconsole/README.md
  pingdatasync/README.md
  pingdirectory/README.md
  pingdownloader/README.md
  pingfederate/README.md
Due: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingfederate

Add a default value for the OPERATIONAL_MODE variable
  pingfederate/Dockerfile
Due: pingfederate

fix typo
  .gitlab-ci.yml
Due: none

Add operation purpose to liveness check. This may be useful to filter out health checks from logs.
  pingdirectory/liveness.sh
Due: pingdirectory

Adding operation purpose for sync liveness as well
  pingdatasync/liveness.sh
Due: pingdatasync

Add default env var for CLUSTER_BIND_ADDRESS
  pingfederate/Dockerfile
Due: pingfederate

update pingfederate liveness to handle clustered engines properly
  pingfederate/liveness.sh
Due: pingfederate

this commit covers the changes necessary to bring automated versioning to the build
  build.sh
  pingaccess/build.test.yml
  pingaccess/versions
  pingdatasync/build.test.yml
  pingdatasync/versions
  pingdirectory/build.test.yml
  pingdirectory/versions
  pingfederate/build.test.yml
  pingfederate/versions
  test-local.sh
  wipe-local.sh
Due: pingaccess, pingdatasync, pingdirectory, pingfederate

add scripts for versioned builds
  ci_scripts/build_and_tag.sh
  ci_scripts/run_suts.sh
Due: none

update CI to handle versioning
  .gitlab-ci.yml
  ci_scripts/build_and_tag.sh
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/docker-cleanup.sh
  ci_scripts/if_readme_only.sh
  ci_scripts/run_tests.sh
Due: none

typo
  .gitlab-ci.yml
Due: none

add image variable to avoid building on test.
  ldap-sdk-tools/build.test.yml
Due: ldap-sdk-tools

Update liveness console check
  pingfederate/liveness.sh
Due: pingfederate

deploy only on master
  .gitlab-ci.yml
  ldap-sdk-tools/Dockerfile
Due: ldap-sdk-tools

Improve the values of health checks for increased startup robustness
  pingbase/Dockerfile
Due: pingaccess, pingdatasync, pingdirectory, pingfederate

minor updates before merge
  ci_scripts/build_and_tag.sh
  ci_scripts/push_to_github.sh
Due: none

cometics: remove comment
  ci_scripts/push_to_github.sh
Due: none

fix sut
  ldap-sdk-tools/build.test.yml
Due: ldap-sdk-tools

turn on push to github
  .gitlab-ci.yml
Due: none

fix logic, to always build "edge"
  ci_scripts/build_and_tag.sh
Due: none

fix cat issue
  ci_scripts/build_and_tag.sh
  ci_scripts/run_tests.sh
Due: none

deploy on tag
  .gitlab-ci.yml
Due: none

Update build_and_tag.sh
  ci_scripts/build_and_tag.sh
Due: none

Update to the build for latest product versions
  pingdownloader/gte-bits-repo.json
Due: pingdownloader, ldap-sdk-tools, pingdataconsole, pingaccess, pingdatasync, pingdirectory, pingfederate

move to latest bits
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
Due: pingdatasync, pingdirectory

update the version file to add 7.2.1.0 as default, keep 7.2.0.1
  pingdatasync/versions
  pingdirectory/versions
Due: pingdatasync, pingdirectory

error handling for bad versions.
  ci_scripts/build_and_tag.sh
Due: none

only provide latest version until CI can handle multiple
  pingdatasync/versions
  pingdirectory/versions
  pingfederate/versions
Due: pingdatasync, pingdirectory, pingfederate

Fix for the location from whence extensions are sought
  pingdatacommon/hooks/186-install-extensions.sh
Due: none

Ci
  .gitlab-ci.yml
  ci_scripts/deploy_to_docker_hub.sh
  ci_scripts/deploy_to_gcr.sh
  ci_scripts/docker-cleanup.sh
  ci_scripts/if_readme_only.sh
  ci_scripts/push_to_github.sh
  pingdatacommon/hooks/186-install-extensions.sh
  pingdirectory/build.test.yml
  pingdirectory/versions
  pingfederate/build.test.yml
Due: pingdirectory, pingfederate

fix cleanup
  ci_scripts/docker-cleanup.sh
Due: none

first pass at building multiple base OSes
  .gitlab-ci.yml
  build.sh
  ci_scripts/build_and_tag.sh
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingfederate/Dockerfile
Due: pingaccess, pingdatasync, pingdirectory, pingfederate

fix omission in tagging base image
  .gitlab-ci.yml
Due: none

fix variable scoping
  ci_scripts/build_and_tag.sh
Due: none
