Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  pingdownloader: any of: pingdownloader/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*

use static tini
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fix PA import
  pingaccess/Dockerfile
  pingaccess/hooks/83-create-initial-password.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

formatting
  pingaccess/hooks/85-import-initial-configuration.sh
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

whitespace
  pingaccess/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

fix to handle replication for compose
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

add functions to improve case insensitive comparisons
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

portable certs and slightly faster startup time
  pingdataconsole/Dockerfile
  pingdataconsole/keystore
  pingdataconsole/server.xml
Due: build_pingdataconsole, deploy_pingdataconsole

address issue in compose nslookup to establish genesis
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Tailing more PD log files by default
  pingdirectory/Dockerfile
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

fixed for compose. next: test with k8s
  pingdirectory/hooks/03-build-run-plan.sh
  pingdirectory/hooks/81-generate-topology-json.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

fix for PD standalone
  pingdirectory/Dockerfile
  pingdirectory/hooks/03-build-run-plan.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

extraneous space
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

openssh client to support secure git ssh cloning
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

add GPG
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

move to 7.3.0.1
  pingdatagovernance/versions
  pingdatasync/versions
  pingdirectory/versions
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

include gosu
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

return visibility to the build
  build.sh
Due: none

fix build break on ubuntu/centos -- will refactor on curl in second step
  pingbase/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fix for including the correct license version
  build.sh
  ci_scripts/build_and_tag.sh
  pingdatagovernance/Dockerfile
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

remove a version that's not latest for its minor
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Adding PA 5.3.1
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Adding additional Docker Image Information when image starts
  pingcommon/hooks/04-check-variables.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Fix incorrect varible names
  pingcommon/hooks/17-check-license.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

add tag variable to test
  pingdatasync/build.test.yml
Due: build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Fix liveness to use root DSE instead of user root as the base DN
  pingdirectory/Dockerfile
  pingdirectory/liveness.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

Update PingData versions to 7.3.0.3
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernance/versions
  pingdatasync/Dockerfile
  pingdatasync/versions
  pingdirectory/versions
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Check if there are any profile files to merge before merging them
  pingcommon/hooks/07-apply-server-profile.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

make run_tests match outputs from build.sh
  ci_scripts/run_tests.sh
Due: none

Check if there are files to merge before overlaying the profile onto the server root
  pingcommon/hooks/07-apply-server-profile.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

add pre/post hooks
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

make the whole block conditional to the hook's presence
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fix ghastly typo
  pingdirectory/hooks/183-run-setup.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

support signed remote extensions
  pingdatacommon/hooks/186-install-extensions.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync

Disable schema replication - schema comes from configuration and doesn't need to be replicated
  pingdirectory/Dockerfile
  pingdirectory/hooks/80-post-start.sh
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory

fix for pre/post hooks
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

remove false error
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fix error handling
  pingcommon/hooks/pingcommon.lib.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

make pa 5.3.1 'edge'
  ci_scripts/run_tests.sh
  pingaccess/Dockerfile
  pingaccess/hooks/50-before-post-start.sh
  pingaccess/hooks/51-add-engine.sh
  pingaccess/hooks/80-post-start.sh
  pingaccess/hooks/81-after-start-process.sh
  pingaccess/hooks/85-import-initial-configuration.sh
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess
