Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Path conditions:
  pingdownloader: any of: pingdownloader/*
  build_ldap-sdk-tools: any of: pingdownloader/*, ldap-sdk-tools/*
  test_ldap-sdk-tools: any of: pingdownloader/*, ldap-sdk-tools/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/*
  build_pingaccess: any of: pingaccess/*, pingcommon/*, pingbase/*, pingdownloader/*
  test_pingaccess: any of: pingaccess/*, pingcommon/*, pingbase/*, pingdownloader/*
  deploy_pingaccess: any of: pingaccess/*, pingcommon/*, pingbase/*
  build_pingdirectory: any of: pingdirectory/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  test_pingdirectory: any of: pingdirectory/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  deploy_pingdirectory: any of: pingdirectory/*, pingcommon/*, pingdatacommon/*, pingbase/*
  build_pingdataconsole: any of: pingdataconsole/*, pingdownloader/*
  deploy_pingdataconsole: any of: pingdataconsole/*
  build_pingdatasync: any of: pingdatasync/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  test_pingdatasync: any of: pingdatasync/*, pingcommon/*, pingdatacommon/*, pingbase/*, pingdownloader/*
  deploy_pingdatasync: any of: pingdatasync/*, pingcommon/*, pingdatacommon/*, pingbase/*
  build_pingfederate: any of: pingfederate/*, pingcommon/*, pingbase/*, pingdownloader/*
  test_pingfederate: any of: pingfederate/*, pingcommon/*, pingbase/*, pingdownloader/*
  deploy_pingfederate: any of: pingfederate/*, pingcommon/*, pingbase/*

whitespace
  ldap-sdk-tools/build.test.yml
  pingdataconsole/Dockerfile
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingdataconsole, deploy_pingdataconsole

fix build for images without os shims
  .gitlab-ci.yml
  ci_scripts/build_and_tag.sh
  ci_scripts/build_product.sh
  ci_scripts/deploy_to_docker_hub.sh
Due: none

move to latest ldap-sdk
  ldap-sdk-tools/Dockerfile
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools

fix typo in docker build argument
  ci_scripts/build_and_tag.sh
Due: none

fix in-shell execution omission
  ci_scripts/build_product.sh
Due: none

whitespace
  ldap-sdk-tools/Dockerfile
Due: build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools

tracking ghost image builds ...
  ci_scripts/build_and_tag.sh
  ci_scripts/build_product.sh
  pingbase/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

fix typo in ubuntu build
  pingbase/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

address missing tags causing the integration tests to rebuild their own layers (incorrectly at that)
  ci_scripts/build_and_tag.sh
Due: none

push to gcr. build foundation only on changes
  .gitlab-ci.yml
  ci_scripts/docker-cleanup.sh
Due: none

whitespace
  pingfederate/build.test.yml
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

whitespace
  pingcommon/lib.sh
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

whitespace
  ci_scripts/prep_build_foundation.sh
  pingcommon/lib.sh
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

whitespace
  .gitlab-ci.yml
  pingcommon/lib.sh
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

small updates to cleanup package managers cache and reduce the resulting layer size a bit
  pingbase/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

don't build on branches: workspace*
  .gitlab-ci.yml
Due: none

Update to the latest version of PA for the downloader
  pingdownloader/gte-bits-repo.json
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingfederate, test_pingfederate

fix #24: rename the war to console and add a redirect at the base
  pingdataconsole/Dockerfile
  pingdataconsole/index.html
Due: build_pingdataconsole, deploy_pingdataconsole

Add simple self-signed TLS by default for console
  pingdataconsole/Dockerfile
  pingdataconsole/server.xml
Due: build_pingdataconsole, deploy_pingdataconsole

Provide an up-to-date image of apache jmeter
  apache-jmeter/Dockerfile
  apache-jmeter/build.sh
Due: none

Update PingFederate latest alias to 9.2.2
  pingdownloader/gte-bits-repo.json
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingfederate, test_pingfederate

Update the build to pull access 5.2.2
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Improve the build script with ability to select OS, product and version
  build.sh
Due: none

provide a mechanism through which extensions can be automatically installed via extensions.ping.directory which avoids the need to commit zip or jar files into repos.
  pingdatacommon/hooks/186-install-extensions.sh
Due: none

Add PingFederate 9.3-Beta upon popular request
  pingfederate/versions
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Add PingAccess 5.3-Beta as an option, knowing 5.2 server-profiles will likely not work with it
  pingaccess/versions
Due: build_pingaccess, test_pingaccess, deploy_pingaccess

Provide support for layered server-profiles, which brings more modularity to the server profile model
  pingbase/Dockerfile
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

updated hook for layered server profiles
  pingcommon/hooks/14-get-remote-server-profile.sh
Due: none

performance improvement in cloning repo (without history) and generic tag support
  pingcommon/hooks/14-get-remote-server-profile.sh
Due: none

update the integration tests to account for the new Git repo layout
  pingaccess/build.test.yml
  pingdatasync/build.test.yml
  pingdirectory/build.test.yml
  pingfederate/build.test.yml
Due: build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

Adding support for license server
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcommon/hooks/10-start-sequence.sh
  pingcommon/hooks/17-check-license.sh
  pingdatacommon/hooks/18-setup-sequence.sh
  pingdatacommon/hooks/181-check-license.sh
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingdownloader/get-bits.sh
  pingfederate/Dockerfile
Due: pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingfederate, test_pingfederate, deploy_pingfederate

removed deprecated plugin for influxdb
  apache-jmeter/Dockerfile
Due: none

Add a viable image for PingDirectoryProxy
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/configure-tools.sh
  pingdirectoryproxy/entrypoint.sh
  pingdirectoryproxy/externalserversetup.sh
  pingdirectoryproxy/hooks/183-run-setup.sh
  pingdirectoryproxy/liveness.sh
  pingdirectoryproxy/versions
Due: none

update gcr repo
  ci_scripts/deploy_to_gcr.sh
Due: none

Adding message for Ping Licenses
  pingcommon/hooks/17-check-license.sh
Due: none

Update for the new release tagging convention
  ci_scripts/build_and_tag.sh
Due: none

reving build.sh resolving version issue, adding messages and adding README.sh
  README.md
  build.sh
Due: none

Fixed VERBOSE variable
  build.sh
Due: none

Removing old comment and adding a tag for the shim. This is to assist with the k8s scripts
  build.sh
Due: none
