Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pingfoundation, build_pingdownloader, deploy_pingdownloader, build_apache-jmeter, deploy_apache-jmeter, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

pingfoundation:
  stage: build_foundation
  script:
  - sh ci_scripts/prep_build_foundation.sh
  - docker image build -t pingidentity/pingcommon ./pingcommon
  - docker image build -t pingidentity/pingdatacommon ./pingdatacommon
  ...

build_pingdownloader:
  stage: build_foundation
  script:
  - docker image build -t pingidentity/pingdownloader ./pingdownloader
  - docker-compose -f pingdownloader/build.test.yml up --exit-code-from sut
  tags:
  - runner1

deploy_pingdownloader:
  stage: deploy
  script:
  - docker push pingidentity/pingdownloader
  tags:
  - runner1

build_apache-jmeter:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh apache-jmeter
  tags:
  - runner1

deploy_apache-jmeter:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh apache-jmeter
  - sh ci_scripts/deploy_to_gcr.sh apache-jmeter
  tags:
  - runner1

build_ldap-sdk-tools:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh ldap-sdk-tools
  tags:
  - runner1

test_ldap-sdk-tools:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh ldap-sdk-tools
  tags:
  - runner1

deploy_ldap-sdk-tools:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh ldap-sdk-tools
  - sh ci_scripts/deploy_to_gcr.sh ldap-sdk-tools
  tags:
  - runner1

build_pingaccess:
  stage: build
  script:
  - ci_scripts/build_product.sh pingaccess
  tags:
  - runner1

test_pingaccess:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingaccess
  tags:
  - runner1

deploy_pingaccess:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingaccess
  - sh ci_scripts/deploy_to_gcr.sh pingaccess
  tags:
  - runner1

build_pingdirectory:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdirectory
  tags:
  - runner1

test_pingdirectory:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdirectory
  tags:
  - runner1

deploy_pingdirectory:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdirectory
  - sh ci_scripts/deploy_to_gcr.sh pingdirectory
  tags:
  - runner1

build_pingdataconsole:
  stage: build
  script:
  - sh ci_scripts/build_and_tag.sh pingdataconsole
  tags:
  - runner1

deploy_pingdataconsole:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdataconsole
  - sh ci_scripts/deploy_to_gcr.sh pingdataconsole
  tags:
  - runner1

build_pingdatasync:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatasync
  tags:
  - runner1

test_pingdatasync:
  stage: test
  script:
  - sh ci_scripts/run_tests.sh pingdatasync
  tags:
  - runner1

deploy_pingdatasync:
  stage: deploy
  script:
  - sh ci_scripts/deploy_to_docker_hub.sh pingdatasync
  - sh ci_scripts/deploy_to_gcr.sh pingdatasync
  tags:
  - runner1

build_pingdatagovernance:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingdatagovernance
  tags:
  - runner1

build_pingfederate:
  stage: build
  script:
  - sh ci_scripts/build_product.sh pingfederate
  tags:
  - runner1

change pull tag test
  ci_scripts/build_and_tag.sh
Due: none

fix image name in local registry
  ci_scripts/run_tests.sh
Due: none

handle dependency in utterly gross fashion but will address more elegantly later
  ci_scripts/run_tests.sh
Due: none

whitespace to force build
  .gitlab-ci.yml
Due: none

whitespace to force build
  apache-jmeter/Dockerfile
Due: build_apache-jmeter, deploy_apache-jmeter

[skip ci]
  ci_scripts/push_to_github.sh
Due: none

downloader UX improvements
  .gitlab-ci.yml
  pingdownloader/get-bits.sh
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

fixes to make it possible to use both outside-in and inside-out patterns
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcommon/bootstrap.sh
  pingcommon/entrypoint.sh
  pingcommon/post-build.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

fix ulimit call
  pingdatacommon/_script-util.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance

PingCentral fixes
  pingbase/build.sh
  pingcentral/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

add "latest" to explicify substring match
  ci_scripts/build_and_tag.sh
Due: none

pingdownloader debt work
  .gitlab-ci.yml
  pingdownloader/get-bits.sh
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

Remove requirement for license to be in the /opt folder
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/hooks/183-run-setup.sh
Due: none

fixes for issue 86 and 92
  pingbase/Dockerfile
  pingbase/build.sh
  pingcentral/Dockerfile
  pingfederate/run.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Arno build improvements
  ci_scripts/build_foundation.sh
  pingbase/build.sh
  pingcommon/bootstrap.sh
  pingcommon/post-build.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Arno stepdown groupadd fix
  pingbase/Dockerfile
  pingcommon/bootstrap.sh
  pingcommon/hooks/02-get-remote-server-profile.sh
  pingcommon/hooks/04-check-variables.sh
  pingcommon/hooks/06-copy-product-bits.sh
  pingcommon/hooks/17-check-license.sh
  pingcommon/hooks/pingcommon.lib.sh
  pingcommon/post-build.sh
  pingcommon/wait-for
  pingdatacommon/_script-util.sh
  pingdatacommon/hooks/188-apply-configuration.sh
  pingdirectory/Dockerfile
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

Improve the build further, fix a lot of issues on ubuntu and improve build confidence
  .gitlab-ci.yml
  ci_scripts/run_tests.sh
  pingaccess/run.sh
  pingcommon/bootstrap.sh
  pingcommon/hooks/09-build-motd.sh
  pingcommon/hooks/pingcommon.lib.sh
  pingdatagovernancepap/hooks/81-install-policies.sh
  pingdirectory/_s0-root.test.yml
  pingdirectory/_s1-default-non-root.test.yml
  pingdirectory/_s2-custom-non-root.test.yml
  pingdirectory/hooks/03-build-run-plan.sh
  pingdirectory/hooks/183-run-setup.sh
  pingdirectory/hooks/80-post-start.sh
  pingdirectory/hooks/81-generate-topology-json.sh
  pingdirectory/hooks/pingdirectory.lib.sh
  pingdirectory/test.sh
  pingfederate/run.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

fix gov prod code
  pingdownloader/get-bits.sh
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

fix for ulimit issue on Alpine
  pingdatacommon/_script-util.sh
Due: pingfoundation, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance

pingdataconsole: giterized
  pingdataconsole/Dockerfile
  pingdataconsole/build.sh
  pingdataconsole/giterized-entrypoint.sh
  pingdataconsole/versions
Due: build_pingdataconsole, deploy_pingdataconsole

first commit to close GDO-71
  pingfederate/Dockerfile
  pingfederate/build.test.yml
  pingfederate/opt/liveness.sh
  pingfederate/opt/staging/instance/bin/run.properties.subst
  pingfederate/opt/staging/instance/bin/run.sh
  pingfederate/opt/staging/instance/server/default/data/sourceid-saml2-local-metadata.xml.subst
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

Fix GDO-72 - Validate image name on motd.json
  pingcommon/hooks/09-build-motd.sh
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

PingToolkit Image
  .gitlab-ci.yml
  build.sh
  ci_scripts/deploy_docs.sh
  pingcommon/entrypoint.sh
  pingtoolkit/Dockerfile
  pingtoolkit/README.md
  pingtoolkit/build.test.yml
  pingtoolkit/hooks/17-check-license.sh
  pingtoolkit/liveness.sh
  pingtoolkit/versions
Due: pingfoundation, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

correct pingbase tag
  ci_scripts/build_and_tag.sh
Due: none

avoid incorrect images
  ci_scripts/build_and_tag.sh
  ldap-sdk-tools/build.test.yml
  pingaccess/build.test.yml
  pingdatagovernance/build.test.yml
  pingdatagovernancepap/build.test.yml
  pingdownloader/build.test.yml
  pingfederate/build.test.yml
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, deploy_ldap-sdk-tools, build_pingaccess, test_pingaccess, deploy_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate, deploy_pingfederate

want clean build for these images.
  ci_scripts/build_and_tag.sh
Due: none

fix for versionless
  ci_scripts/build_and_tag.sh
  ci_scripts/run_tests.sh
Due: none

fix version test
  ci_scripts/run_tests.sh
Due: none

data products current-1 to 7.3.0.7
  pingdataconsole/versions
  pingdatagovernance/versions
  pingdatasync/versions
  pingdirectory/versions
Due: build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance

fix: typo on the curl command
  pingfederate/opt/liveness.sh
Due: build_pingfederate, test_pingfederate, deploy_pingfederate

push 8.0.0.1 bits
  integration_tests/simple_stack.test.yml
  pingdataconsole/Dockerfile
  pingdataconsole/build.sh
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, deploy_pingdirectory, build_pingdataconsole, deploy_pingdataconsole, build_pingdatasync, test_pingdatasync, deploy_pingdatasync, build_pingdatagovernance, deploy_pingdatagovernance, build_pingfederate, test_pingfederate

gitlab ci typos and downloder deploy issue
  .gitlab-ci.yml
Due: none

export var upon sourcing lib
  ci_scripts/ci_tools.lib.sh
Due: none

store collection for local execution later
  integration_tests/DockerBuildTestCollection.postman_collection.json
Due: none

test straight for context-correct registry
  pingdownloader/build.test.yml
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

remove local build file [skip smoke]
  build.sh
Due: none

build improvements to allow running local
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/docker-cleanup.sh
  ci_scripts/run_tests.sh
  test-local.sh
  test.sh
  wipe-local.sh
Due: none

build improvements for tests and downloader push
  .gitlab-ci.yml
  build.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/docker-cleanup.sh
  ci_scripts/run_tests.sh
  integration_tests/DockerBuildTestCollection.postman_collection.json
  pingdownloader/build.test.yml
  test-local.sh
  test.sh
  wipe-local.sh
Due: build_pingdownloader, deploy_pingdownloader, build_ldap-sdk-tools, test_ldap-sdk-tools, build_pingaccess, test_pingaccess, build_pingdirectory, test_pingdirectory, build_pingdataconsole, build_pingdatasync, test_pingdatasync, build_pingdatagovernance, build_pingfederate, test_pingfederate

Path conditions:
  pingfoundation: any of: pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*
  build_pingdownloader: any of: pingdownloader/**/*
  deploy_pingdownloader: any of: pingdownloader/**/*
  build_apache-jmeter: any of: apache-jmeter/**/*
  deploy_apache-jmeter: any of: apache-jmeter/**/*
  build_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  test_ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*
  deploy_ldap-sdk-tools: any of: ldap-sdk-tools/**/*
  build_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*
  build_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*
  deploy_pingdataconsole: any of: pingdataconsole/**/*
  build_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*
  build_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  test_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*
  deploy_pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*
