Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml

GDO-329: PingCentral Docker Image Docs not syncing to Github - Update deploy_docs.sh to include pingcentral in docs list
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Prevent variable substitution on large ldif files
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

test pdp on pdp change
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Pf heartbeat template
  .gitlab-ci.yml
  integration_tests/pa-pf-pd.postman_collection.json
  pingfederate/opt/server/default/conf/template/heartbeat.page.template.subst.default
  pingfederate/opt/staging/instance/server/default/conf/template/heartbeat.page.template
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

bump PingAccess and PingFederate versions
  pingaccess/versions.json
  pingaccess/versions.json.old
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, pa-pf-pd.latest

Add PingCentral 1.4 support
  pingcentral/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit

change PRIVATE to PUBLIC variables for delegator
  pingdelegator/opt/staging/instance/html/delegator/config.js.subst
Due: b.pingdelegator, t.pingdelegator, d.pingdelegator

Remove start-server workaround for PAP 8.2
  pingdatagovernancepap/opt/server/bin/start-server-pre-82
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
Due: b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap

GDO-302: Remove Hard Coded Ports in PA Hooks
  pingaccess/Dockerfile
  pingaccess/opt/liveness.sh
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingaccess/opt/staging/hooks/80-post-start.sh
  pingaccess/opt/staging/hooks/81-after-start-process.sh
  pingaccess/opt/staging/hooks/83-change-password.sh
  pingaccess/opt/staging/hooks/85-import-configuration.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest

Fix for reversed logic issue
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
Due: b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap

Update run.sh
  pingaccess/opt/server/bin/run.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest

Turn off ecr
  registry.list
  registry.list.bak
Due: none

Update MAX_HEAP_SIZE for PD at Startup
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Get latest version from json in integration tests
  ci_scripts/run_integration.sh
  integration_tests/pa-cluster.latest.test.yml
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

GDO-264 - Honor return error from license check
  pingcommon/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

GDO-125: Sign All Docker Tags for DockerHub Registry
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

GDO-365: Re-enable build of PingAccess 5.3.2
  pingaccess/versions.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest

Cleanup and fix issue with outputing variables to CONTAINER_ENV without trailing newline in env_vars file
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

gdo-328 - fixing restart of pingdirectory
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

gdo-212 - LICENSE_VERFICATION
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Turn down the log volume
  integration_tests/pd-replicated.latest.test.yml
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Add variables for certificates
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdataconsole/opt/staging/instance/conf/server.xml.subst.default
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/instance/etc/conf.d/default.conf.subst
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

gdo-371 - resovle issue with starting pingdelegator in a non-privileged user mode. defaults to nginx:nginx
  pingdelegator/Dockerfile
  pingdelegator/opt/staging/hooks/04-check-variables.sh
  pingdelegator/opt/staging/hooks/50-before-post-start.sh
  pingdelegator/opt/staging/instance/etc/nginx.conf.subst
Due: b.pingdelegator, t.pingdelegator, d.pingdelegator

GDO-125: Fix signed image pipeline
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Resolve GDO-373
  pingaccess/Product-staging
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest

Adding comments and shellcheck cleanup
  ci_scripts/build_downloader.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_acr.sh
  ci_scripts/cleanup_docker.sh
  ci_scripts/cleanup_failure.sh
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/if_readme_only.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_integration.sh
  ci_scripts/run_smoke.sh
  ci_scripts/serial_build.sh
  ci_scripts/unmerged_changes.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Genearl shellcheck cleanup
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

General shellcheck cleanup
  pingdirectory/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Corrected the location of the SERVER_ROOT_DIR
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Reworking validation of certificate options and fixing some shellcheck's
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Adjusting comments sent to log
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Adding comments to functions
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

gdo-377 - Adding env_file to integration test yamls
  ci_scripts/run_integration.sh
  integration_tests/integration_tests.properties.subst
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

If the pin file doesn't appear to be encrypted on a restart, emit a warning and continue
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

GDO-378 - Adding PD_REBUILD_ON_RESTART variable to PingDirectory image to allow for force of reubuild on restart
  pingdirectory/Dockerfile
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Resolve typo in comment
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

resolve comment issue
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

resolve comment typos
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/if_readme_only.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest

Fixing typos as well as better messages to user about license verficiations
  pingcommon/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pd-repl.latest
