Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

d.pingdownloader:
  stage: deploy
  script:
  - docker pull gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}
  - docker tag gcr.io/ping-identity/pingdownloader:${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA} pingidentity/pingdownloader
  - docker push pingidentity/pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools

d.ldap-sdk-tools:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdirectory

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdataconsole

b.pingdatasync:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatasync

t.pingdatasync:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdatasync

d.pingdatasync:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatasync

b.pingdatagovernance:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernance

d.pingdatagovernance:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --registry docker.io/pingidentity --product pingdatagovernance

b.pingdatagovernancepap:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdatagovernancepap

b.pingfederate:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingfederate

closes GDO-239
  ci_scripts/deploy_product_to_registry.sh
  registry.list
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

update gitlab-ci
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

close GDO-239 to keep costs down and hedge risk
  .gitlab-ci.yml
  ci_scripts/deploy_product_to_registry.sh
  registry.list
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

fix tag/branch safeguard bug
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

across the board shellcheck fix for sourcing
  pingcommon/opt/entrypoint.sh
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/staging/hooks/18-setup-sequence.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/185-apply-tools-properties.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdatagovernancepap/opt/staging/hooks/18-setup-sequence.sh
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/opt/staging/hooks/81-install-policies.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/188-apply-configuration.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
  pingdirectory/opt/staging/hooks/90-shutdown-sequence.sh
  pingtoolkit/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

fix for pipeline safeguard error
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Add support for user/password in server profile URL
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

shellcheck cleaning
  pingcommon/opt/entrypoint.sh
  pingdatacommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/staging/hooks/18-setup-sequence.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/185-apply-tools-properties.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdatagovernancepap/opt/staging/hooks/18-setup-sequence.sh
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/opt/staging/hooks/81-install-policies.sh
  pingdirectory/opt/staging/hooks/03-build-run-plan.sh
  pingdirectory/opt/staging/hooks/188-apply-configuration.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
  pingdirectory/opt/staging/hooks/90-shutdown-sequence.sh
  pingtoolkit/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-266 fix for pipeline deploy, delay github after deploy
  .gitlab-ci.yml
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closing GDO-266
  .gitlab-ci.yml
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

surgical fix for master check
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-263 - deploy_doc.sh issues fixed
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/README.md
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingcentral/README.md
  pingdataconsole/README.md
  pingdatagovernance/Dockerfile
  pingdatagovernance/README.md
  pingdatagovernancepap/README.md
  pingdatasync/Dockerfile
  pingdatasync/README.md
  pingdelegator/README.md
  pingdirectory/Dockerfile
  pingdirectory/README.md
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/README.md
  pingdownloader/README.md
  pingfederate/Dockerfile
  pingfederate/README.md
  pingtoolkit/Dockerfile
  pingtoolkit/README.md
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

pipeline fix to publish to docker regsitries across the planet
  ci_scripts/deploy_product_to_registry.sh
  integration_tests/pd-replicated.latest.test.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

removing the master check altogether
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

add a lot more checks to ensure the runner is set up correctly
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

add more checks to validate runner setup
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

close GDO-262 add replicated pair in integration tests
  .gitlab-ci.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pd-replicated.postman_collection.json
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Remove Windows wrapper
  pingdatagovernance/Product-staging
  pingdatasync/Product-staging
  pingdirectory/Product-staging
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingfederate, simple_stack.current

closes GDO-221
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

closes GDO-268
  pingaccess/opt/staging/hooks/83-change-password.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

close GDO-269
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

adding azure registry in europe
  registry.list
Due: none

manage-profile fix for 7.3
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
Due: b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, simple_stack.current

add a 30 second wait to improve reliability on PA test
  integration_tests/pa-pf-pd.postman_collection.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

gdo-263 - Fixed some docker-images --> dockerimagesref links, and hooks links
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

GDO-271: Broken dockerfile doc links
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingfederate/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingfederate, t.pingfederate, d.pingfederate, simple_stack.current

add pdg integration test
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdg-pd.postman_collection.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, simple_stack.current

normalization of shell coding conventions
  apache-jmeter/Product-staging
  ci_scripts/build_downloader.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_docker.sh
  ci_scripts/cleanup_failure.sh
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/if_readme_only.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_integration.sh
  ci_scripts/run_smoke.sh
  ci_scripts/serial_build.sh
  ci_scripts/unmerged_changes.sh
  pingaccess/Product-staging
  pingcentral/Product-staging
  pingcommon/opt/server/.touch
  pingcommon/opt/server/README.md
  pingdataconsole/Product-staging
  pingdatagovernance/Product-staging
  pingdatagovernancepap/Product-staging
  pingdatasync/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
  pingfederate/Product-staging
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

to bash
  ci_scripts/build_downloader.sh
  ci_scripts/build_foundation.sh
  ci_scripts/serial_build.sh
  ci_scripts/unmerged_changes.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Arno 2005
  apache-jmeter/Product-staging
  ci_scripts/build_downloader.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_docker.sh
  ci_scripts/cleanup_failure.sh
  ci_scripts/deploy_docs.sh
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/if_readme_only.sh
  ci_scripts/push_to_github.sh
  ci_scripts/run_integration.sh
  ci_scripts/run_smoke.sh
  ci_scripts/serial_build.sh
  ci_scripts/unmerged_changes.sh
  pingaccess/Product-staging
  pingcentral/Product-staging
  pingcommon/opt/server/.touch
  pingcommon/opt/server/README.md
  pingdataconsole/Product-staging
  pingdatagovernance/Product-staging
  pingdatagovernancepap/Product-staging
  pingdatasync/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
  pingfederate/Product-staging
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

pingcommon shellchecks
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
  pingcommon/opt/staging/hooks/07-apply-server-profile.sh
  pingcommon/opt/staging/hooks/09-build-motd.sh
  pingcommon/opt/staging/hooks/17-check-license.sh
  pingcommon/opt/staging/hooks/21-update-server-profile.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Added file and dir options to wait-for
  integration_tests/wait-for
  ldap-sdk-tools/wait-for
  pingcommon/opt/wait-for
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

sprint tag tolerate .release
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

fix env var issue at build for snapshots
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  pingdownloader/get-bits.sh
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Fix nightly snapshot runs
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  pingdownloader/get-bits.sh
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Adding docs and enviornment variables and smoke test
  pingdelegator/Dockerfile
  pingdelegator/index.html
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/instance/html/delegator/config.js.subst
  pingdelegator/tests/build.test.yml
Due: none

Adding in smoke tests and git build pipeline info for pingdelegator
  .gitlab-ci.yml
  ci_scripts/build_product.sh
  ci_scripts/serial_build.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

script to autoamte ACR cleanup procedure
  ci_scripts/cleanup_acr.sh
  registries.json
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

update copyright year
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, simple_stack.current

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingdataconsole/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  simple_stack.current: any of: integration_tests/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, .gitlab-ci.yml
